[2014-12-10 15:48] mattheworiordan opened #1 "Additional encoding / decoding tests"
@jjwchoy has just been asking about how the encoding & decoding works, and when `utf-8` is appended to the `json` encoding or not.  I think we need to add some additional test cases that make it clear exactly how the supported encoding & decodings work, not just for cipher data which we have.

See https://github.com/ably/docs/issues/1 as well which needs addressing.

[2015-01-19 19:04] mattheworiordan opened #4 "Travis.CI support"
We should add Travis CI support to this repo so that pull requests can easily be accepted / rejected based on the effect on tests.

See https://github.com/ably/ably-ruby/blob/master/.travis.yml for an example.  Note that Slack notifications are done using the Travis CLI and encryption, simply install `gem install travis`, authenticate with `gem login` and then in the root of your library, `travis

[2015-02-07 18:16] mattheworiordan opened #5 "Builds are not failing with the correct exit code"
See Jenkins build number 31

[2015-02-08 00:27] paddybyers commented on #5
I've pushed a fix for this.

[2015-02-08 00:27] #5 closed

[2015-03-25 01:07] mattheworiordan opened #6 "HAS_BACKLOG flag"
Doesn't seem to be used, see https://github.com/ably/ably-java/blob/2e81470a464b6ec5f888a1b0941d3bca59cb2b37/src/io/ably/types/ProtocolMessage.java#L49.  Should it be there if it's not implemented?

[2015-03-25 09:09] paddybyers commented on #6
The flag is set by the realtime system if, upon reattach, there are catchup messages to be sent.

Right now the client library doesn't do anything in response, because it simply processes the messages as they are received. However, in future I think there may be a benefit in indicating to the client in some way that there are catchup messages.

So there isn't anything "not implemented" except what

[2015-03-26 00:54] mattheworiordan opened #7 "Stats types are out of date"
Please see https://github.com/ably/ably-java/blob/master/src/io/ably/types/Stats.java and https://github.com/ably/ably-ruby/commit/cec03499da3b349bd6dfabb1f01c947e960bc5dd.  push & httpStream are not valid, and can you confirm values default to zero?

[2015-03-26 02:48] mattheworiordan commented on #6
Nope, leave it in, but can you please update the [protocol docs](http://docs.ably.io/client-lib-development-guide/protocol/) to reflect this before closing?

[2015-03-26 10:35] paddybyers commented on #7
Resolved

[2015-03-26 10:35] #7 closed

[2015-04-12 23:04] mattheworiordan opened #8 "Releases"
@paddybyers the Java docs instruct the user to download the JAR from https://github.com/ably/ably-java/releases, however https://github.com/ably/ably-java/releases is empty.

Also, is there not a common Java packaging system we should offer as well?

[2015-04-13 13:10] mattheworiordan opened #9 "Share test app set up & encoding fixture data"
See https://github.com/ably/ably-js/issues/34, https://github.com/ably/ably-ruby/commit/a0b908113d7a8fadc43e3cacb235edb8a7d126cd and https://github.com/ably/ably-ruby/commit/bce255f6f36a99b2f4a735e3d80808f99036102e.

We should share the test app set up and encoding / decoding fixture JSON between all client libraries to encourage consistency.

[2015-04-15 16:28] mattheworiordan opened #10 "Change pagination API"
See https://github.com/ably/ably-js/issues/28

[2015-04-17 13:51] mattheworiordan opened #11 "EventEmitter interface"
Expose an `EventEmitter` like interface in the Java library to make it more consistent with the other client libraries.  This would apply to the `Connection` and `Channel` objects.

Pseudo code example.

[code]

[2015-04-17 18:13] mattheworiordan opened #12 "CipherParams type"
Why is the [cipherParams](https://github.com/ably/ably-java/blob/master/src/io/ably/types/ChannelOptions.java#L8) attribute of `ChannelOptions` an `Object` when there is a type [CipherParams](https://github.com/ably/ably-java/blob/db50628fceb0af37c63c33693ab77dbb35d3c245/src/io/ably/util/Crypto.java#L52)?

[2015-04-17 18:29] mattheworiordan opened #13 "ClientOptions instead of Options"
I think it would be clearer if the `Options` class was named `ClientOptions`.  We currently have `ChannelOptions` and that name is very clear what it is for.  `Options` feels very generic and could be confusing as we add more option types in the future.

[2015-04-17 18:51] paddybyers commented on #12
Because that `CipherParams` type contains params for the default algorithm and mode. It is legitimate to have a different Cipher type, and a different set of parameters to configure it.

We could have an abstract base class or interface to give some non-Object type to all cipher params types, but it would contain nothing and I think that's pointless.

[2015-04-17 22:21] paddybyers commented on #13
Resolved

[2015-04-17 22:21] #13 closed

[2015-04-17 23:09] paddybyers commented on #10
Resolved

[2015-04-17 23:09] #10 closed

[2015-04-18 00:12] paddybyers commented on #11
This?

https://github.com/ably/ably-java/commit/dbd958a8047bd5441ae50feece4a7b572e8a0fe8

[2015-04-18 08:02] mattheworiordan opened #14 "Token expiry causes alternative host names to be used"
If I have read the code correctly, when a request is made to the default end point of `rest.ably.io` and a status code outside of 200-299 is returned, then a fallback host is used to make that request again.

However, if a token has expired (code 40140), that too will trigger it to reissue the request to a fallback host, when what should happen is the token should be reissued if possible or it sho

[2015-04-18 08:06] mattheworiordan commented on #14
In fact, we should probably review which codes at https://github.com/ably/ably-common/blob/master/protocol/errors.json should trigger a retry.  Lots of them such as credential failures, invalid body, max message size exceeded etc. don't need to retry IMHO.

[2015-04-18 08:42] paddybyers commented on #14
I think so.

The fallback hosts are used if a `HostFailedException` is thrown, which only occurs when the problem was a `ConnectException`, `UnknownHostException`, or `NoRouteToHostException`.

[2015-04-18 16:17] mattheworiordan commented on #14
@paddybyers but if the server responds with a 500 error code shouldn't we be using the fallback hosts?  For example, if the load balancers are unable to service a request, the client will get a response in the 5xx range.

[2015-04-18 16:24] paddybyers commented on #14
The fallback hosts are only for the case that the server is unreachable. By definition, if we get any error code from the server, then it's the correct host to use.

[2015-04-18 16:34] mattheworiordan commented on #14
I disagree.  The fallback hosts are to route around network issues or a faulty or overloaded data centre.  If a data centre becomes unhealthy for any reason, but the load balancers are still operating, all clients will continue to use the faulty data centre.  We don't want this.

[2015-04-18 16:39] mattheworiordan commented on #14
Part of our USP is our global presence and distributed architecture.  The client libraries should automatically distribute load and move traffic to other working data centres when a single data centre for whatever reason is unable to cope with the current load.

[2015-04-18 18:02] mattheworiordan commented on #12
Fair enough

[2015-04-18 18:02] #12 closed

[2015-04-19 08:15] mattheworiordan commented on #11
Sure, looks great, can we have the once method too as its used in Ruby and JS and I think is very handy, and some test coverage? Thanks

[2015-04-20 13:21] mattheworiordan opened #15 "README to include code examples and follow common format"
See https://github.com/ably/ably-ruby/blob/master/README.md for an example of a common format used for the client library README.  The README must include examples of using the most common features.

We must also include:

* Installation instructions including how to install from a package manager i.e. similar to NPM or RubyGems
* License info
* Remove the note about being under active development

[2015-04-20 16:08] mattheworiordan commented on #14
@kouno and I discussed and think that the following strategy would be sensible:

* If a request fails because of network errors (see https://github.com/ably/ably-java/blob/0275671edd98e7090181696ed6dd34a01cbbd96f/src/io/ably/http/Http.java#L327), then we fallback immediately as we do
* If a request fails because of a 5xx type error, then we retry one more time, and then fallback.

This could apply

[2015-04-22 11:36] mattheworiordan opened #16 "Emit errors"
On the Ruby library developers can subscribe to errors on the `Connection` and `Channel` objects.

We should add this functionality to the Java lib.

[2015-04-22 11:43] paddybyers commented on #16
which errors?

[2015-04-22 11:47] mattheworiordan commented on #16
Errors such as:

* Callback exception
* Message decoding error
* Protocol error
* Connection successful but included an error message

[2015-04-22 11:51] paddybyers commented on #16
We discussed this before and agreed it's not the library's job to emit an error when the client crashed in his own code.

[2015-04-22 12:08] mattheworiordan commented on #16
Sorry, my mistakes, the `callback exception` was meant to be logged only.  Apologies.

But we definitely discussed emitting an error yet continuing to deliver the encrypted message if there was a message decoding error.  How does the Java lib deal with that?

[2015-04-22 12:56] mattheworiordan opened #17 "Message publish overloaded without a listener"
I imagine in many cases a developer won't care if a message was published or not and as such won't need to pass in a CompletionListener.  It would be nice to provide an overloaded version of this method without the CompletionListener requirement

[2015-04-22 12:57] mattheworiordan commented on #17
FYI, in Javascript & Ruby this is easily done by simply not passing in the listener callback, but in Java this is just a bit more cumbersome because an explicit `Null` or Listener object is required.

[2015-04-22 13:07] mattheworiordan opened #18 "Max message size and/or number of messages per ProtocolMessage / REST post"
Currently there is no rules to restrict the number of messages or total message size per ProtocolMessage or REST message post

See https://github.com/ably/ably-java/blob/master/src/io/ably/rest/Channel.java#L64 and https://github.com/ably/ably-java/blob/master/src/io/ably/realtime/Channel.java#L455.

There is a separate issue to provide limit info to the client library, however even before that we

[2015-04-22 13:08] mattheworiordan commented on #18
FYI, an overly simple implementation is included in the Ably Ruby lib - see https://github.com/ably/ably-ruby/blob/master/lib/ably/realtime/channel.rb#L50-L51.  This does not factor in message size or allow defaults to be changed so is not very practical.

[2015-04-22 14:06] paddybyers commented on #11
https://github.com/ably/ably-java/commit/e3a62ac

https://github.com/ably/ably-java/commit/e46e953

[2015-04-22 15:51] mattheworiordan commented on #11
Thanks, https://github.com/ably/ably-java/compare/d0bf20eb1ee9...39f3f0226bd9

[2015-04-22 15:51] #11 closed

[2015-04-23 16:28] mattheworiordan opened #19 "Connection#isConnected function"
In Ruby, because we have implemented a State Event Emitter that automatically provides predicate methods for all states such as `connected?` or `suspended?`, it's quite convenient for a developer to simply check if a connection is connected before executing some code.

Given how commonly I expect people will check if the client is connected, I propose adding a simple method `Connection#isConnected

[2015-04-23 16:30] paddybyers commented on #19
so we have `isConnecting()`, `isSuspended()`, `isFailed()` etc as well?

[2015-04-23 16:30] mattheworiordan commented on #19
Well @paddybyers we could do if you think it's useful?

[2015-04-23 16:30] rjeczalik commented on #19
Sorry for chiming in, but wouldn't this be inherently race-prone? The state of the connection might change between call to `isConnected()` and actual call that user wants to make.

[2015-04-23 16:31] mattheworiordan commented on #19
@rjeczalik correct, that is possible if you are using a threaded environment, but that is no different to saying `if (client.connection.state == CONNECTED)`.

[2015-04-23 16:32] mattheworiordan commented on #19
And @rjeczalik please do chime in ;)

[2015-04-23 16:35] paddybyers commented on #19
[code]

that would be nice :)

[2015-04-23 16:36] rjeczalik commented on #19
@mattheworiordan: yup, direct comparison is even worse; what about:

[code]

Only one method.

[2015-04-23 16:52] kouno commented on #19
We already have connection listeners for that:
[code]

Well technically even if we execute the code above, there is no guarantee that the connection will be up until the callback finish executing. I mean, yes, you may decide to lock the state of the connection while executing the callback... But the connection could still drop.

[2015-04-23 17:01] mattheworiordan commented on #19
Exactly, creating a mutex on the connection state is possible, but will not do what you want.  You cannot guarantee the connection will be open once the mutex is finished, perhaps we could do this instead ;)
[code]
He he.

[2015-04-27 18:32] mattheworiordan opened #20 "Sync complete method and/or callback"
*\* LOW PRIORITY ALERT **

In the Java library, how can a developer:
- Check that the presence map sync is complete?
- Subscribe to a callback once the sync is complete?

In Ruby, there is:
- [Presence#sync_complete? predicate method](http://www.rubydoc.info/gems/ably/0.8.1/Ably/Realtime/Presence#sync_complete%3F-instance_method)
- [Presence#members.once(:in_sync)](http://www.rubydoc.info/gems/abl

[2015-04-27 19:00] mattheworiordan opened #21 "Presence subscribe with presence action"
`Channel#subscribe` provides a mechanism to filter messages by event name, do you think we should have a similar option for `Presence#subscribe` to filter by presence action?

This is available in Ruby, http://www.rubydoc.info/gems/ably/0.8.1/Ably/Realtime/Presence#subscribe-instance_method

[2015-04-28 12:52] mattheworiordan opened #22 "Host ClientOptions"
We currently use `host` and `wsHost` in ClientOptions, could this be `restHost` and `realtimeHost` for consistency and to remove ambiguity of what `host` is for?

[2015-04-28 14:34] paddybyers commented on #22
Strictly though the `wsHost` is for realtime websocket connections and `host` is for realtime comet connections (as well as REST).

[2015-04-28 16:42] mattheworiordan commented on #22
@paddybyers well `host` and `wsHost` in my mind that is even more confusing then and we need a name change!

[2015-05-04 23:07] mattheworiordan commented on #22
@paddybyers we need to decide on this.  PHP lib currently uses `host` and I've asked to change to `restHost`.  In the case of PHP, having `restHost` seems odd given it's only a REST lib.  I'm not even sure this needs to be a documented option to be honest, can we discuss?

[2015-05-05 11:14] mattheworiordan opened #23 "Spec validation"
For version 0.8 of our client libraries, we have a documented specification at http://docs.ably.io/client-lib-development-guide/features/

It is required that all of our client libraries that use a 0.8.x version number, where possible, adhere to this specification ensuring feature compatibility across all languages and platforms. To ensure that we do not have regressions in future from this specif

[2015-05-07 10:45] kouno opened #24 "Timeout in test suite"
It looks like the java test suite tends to timeout on Travis.

https://travis-ci.org/ably/ably-java/builds/61492791
https://travis-ci.org/ably/ably-java/builds/61596086

On our CI, I could not reproduce it by running the test suite alone. I had to run the travis tests at the same time to see it happen again.

[2015-05-07 10:56] paddybyers commented on #24
These builds both failed at more or less the same point, and it's running tests that attempt to send 1000 messages, one every millisecond. I suspect that this is loading the travis resource in a way that it doesn't like. Or maybe there is a bug that causes the tests to fail when run on an underresourced machine.

[2015-05-07 11:05] kouno commented on #24
It also happens on our CI machine when a Travis builds is running. Which eliminate the under-resourced machine hypothesis.

[2015-05-07 11:17] paddybyers commented on #24
I think that failure you linked is different.

[2015-05-07 11:29] kouno commented on #24
What makes you think that they are not linked?

[2015-05-07 11:35] paddybyers commented on #24
It's failed this time in this test : `recover_implicit_connect`

I thought that travis specifically having an issue with those high-rate message tests was potentially an issue.

This issue on CI - it's potentially the same but I'm betting otherwise :)

[2015-05-19 08:38] mattheworiordan commented on #8
See http://stackoverflow.com/questions/2710266/is-there-a-package-manager-for-java-like-easy-install-for-python, it would be good to review which package managers we wish to support or not.

[2015-05-19 08:40] mattheworiordan commented on #8
See https://github.com/ably/ably-java/releases, I have now tagged the Java lib with v0.8.0 so that we have a release.

[2015-05-20 14:38] mattheworiordan opened #25 "authParams & authMethod ClientOptions"
In the Ruby lib, when using `authUrl`, `authParams` when configured will send query params if using `GET`, and will send post data when using `POST`.

There is an additional `authMethod` option that allows the verb to be set.

See `auth_` options at http://www.rubydoc.info/gems/ably/0.8.1/Ably/Realtime

I would prefer that the developer has explicit control over which verb is used as is done with

[2015-05-20 14:40] paddybyers commented on #25
... with the supported methods only being `POST` and `GET` ?

[2015-05-20 14:40] mattheworiordan commented on #25
@paddybyers that is all I have supported in Ruby, but we could very easily add more

[2015-05-20 14:41] paddybyers commented on #25
I'm not asking for more, just checking.

[2015-05-20 14:42] mattheworiordan commented on #25
OK, what do you think?

[2015-05-20 14:46] paddybyers commented on #25
Supporting `GET` and `POST` only is fine for now and we can add others if really necessary.

[2015-05-20 15:01] mattheworiordan opened #26 "Java logLevel"
Shouldn't the log level be at least errors by default?

See https://github.com/ably/ably-java/blob/db50628fceb0af37c63c33693ab77dbb35d3c245/src/io/ably/util/Log.java#L132

[2015-05-20 15:22] mattheworiordan opened #27 "autoConnect & useTokenAuth"
See the corresponding options in http://www.rubydoc.info/gems/ably/0.8.2/Ably/Realtime
- autoConnect can be used to disable the client lib connecting requiring an explicit connect
- useTokenAuth forces the client library to authenticate with tokenAuth

We should add these options for consistency across all client libs

[2015-06-07 17:44] mattheworiordan commented on #15
We also need a very simple example of how to use the library with Android, customers have asked for this.

[2015-06-15 12:05] mattheworiordan commented on #15
This is becoming increasingly important unfortunately...

[2015-06-15 13:12] AdityaShirole commented on #15
The history api's usage with java library needs some code samples. The rest of the documentation is pretty good and easy to follow.

[2015-06-15 13:15] mattheworiordan commented on #15
Thanks for the feedback @AdityaShirole, I am updating our primary docs now, so hopefully I can include a good set of examples there very soon.

[2015-06-19 18:15] mattheworiordan opened #28 "Maven / Ivy support"
Comment from @jasyonminard on Twitter:

We should consider adding Maven and Ivy support.

[2015-06-19 18:16] mattheworiordan commented on #15
The README states the Java lib is REST only, whereas it's clearly Realtime & REST.  It should be updated.  @JaysonMinard on twitter has pointed this out.

[2015-06-21 22:00] rjeczalik opened #29 "Presence improvements"
Hey @paddybyers,

during reading the Java's realtime Presence implementation I spotted two minor things I think either differ from the spec or possibly may be a bug.

- there's no overloaded Get method that takes `connectionID` for filtering the presence map (only for [connectionID](https://github.com/ably/ably-java/blob/master/src/io/ably/realtime/Presence.java#L59))
- [presence.remove](https://g

[2015-07-01 16:39] mattheworiordan commented on #15
We should use the Apache license

[2015-07-21 08:00] mattheworiordan commented on #27
Related to https://github.com/ably/ably-js/issues/70

[2015-07-27 18:49] mattheworiordan opened #30 "Proposal: errorReason instead of reason"
In the [client lib spec](http://docs.ably.io/client-lib-development-guide/features/), I have opted for errorReason as the attribute of a connection as opposed to simply @reason@.  I have also done the same for the @ConnectionStateChange@ object as I think it is clearer, see https://github.com/ably/docs/commit/e114527d55f15c8a4d5e8cae48351372c3babb7b.

I propose we use errorReason instead of reason

[2015-07-27 18:50] mattheworiordan commented on #30
BTW. I appreciate the naming could be useful without error in it so that if we wanted to include a success reason we could do that, however the attribute is an @ErrorInfo@ type so it's always going to contain an error type currently anyway.

[2015-07-27 19:16] mattheworiordan opened #31 "Re-enable temporarily disabled test"
See https://github.com/ably/ably-java/commit/d4f34fe5a54364ebe92b92bada27710235531edd

[2015-07-27 19:16] mattheworiordan opened #32 "Re-enable temporarily disabled test"
See https://github.com/ably/ably-java/commit/d4f34fe5a54364ebe92b92bada27710235531edd

[2015-07-28 13:58] paddybyers commented on #32
This was done a few weeks ago but not pushed :(

https://github.com/ably/ably-java/commit/bd7375300dbe1ec56fe32011f0148a9435a0ee70

[2015-07-28 13:58] #32 closed

[2015-07-28 14:40] paddybyers commented on #30
I'm in two minds about this.

The `ConnectionStateChange` is indicating a state change, and `reason` is therefore clearly the reason for the change, even if it's not an error (eg if the connection is explicitly closed by the user).

I agree that `Connection.reason` would benefit from clarification-through-verbosity, but again, strictly, it isn't necessarily an error.

[2015-07-28 15:30] mattheworiordan commented on #30
Mmm, OK, I assumed because reason is an [ErrorInfo type in Java](https://github.com/ably/ably-java/blob/master/src/io/ably/realtime/Connection.java#L19-L22), and is [described as an error](https://github.com/ably/ably-java/blob/master/src/io/ably/realtime/Connection.java#L19-L22), it would only be an error.  If you think there are valid reasons we need to expose `Connection#reason` when it's not a

[2015-08-10 11:07] mattheworiordan opened #33 "PaginatedResult#isLast method missing"
See https://goo.gl/2aoKPg, and the spec `TG7` at http://docs.ably.io/client-lib-development-guide/features/, `isLast` method is missing.

[2015-08-10 12:27] paddybyers commented on #33
I thought that last time we reviewed that spec we agreed to remove `isLast()` ?

[2015-08-10 19:48] mattheworiordan commented on #33
Not as I recall, only `isFirst` because of the issue relating to the cursor and current not necessarily reflecting the first position.  I don't see any agreement on that.

[2015-08-12 17:17] mattheworiordan opened #34 "authCallback must accept TokenDetails or token strings"
See https://github.com/ably/ably-java/blob/master/src/io/ably/rest/Auth.java#L46-L52, according to the internal documentation a @TokenRequest@ is always expected.  This should allow a @TokenDetails@ or tokens string to be return from the callback.

[2015-08-12 17:17] mattheworiordan commented on #34
Same applies to authUrl, see https://github.com/ably/ably-java/blob/master/src/io/ably/rest/Auth.java#L54-L60

[2015-08-18 00:41] sanjuthomas commented on #26
Do you have any plan to convert this project into a maven project? may be I can help you guys with maven and log4j integration if you like.

[2015-08-18 06:53] paddybyers commented on #26
Yes.

I was thinking we would use SLF4J because I would prefer to avoid log4j as a dependency for Android in particular. What would you recommend?

[2015-08-19 01:38] mattheworiordan commented on #26
@sanjuthomas sure, we would certainly be happy if you were able to help.  What do you propose?

[2015-08-19 18:42] mattheworiordan opened #36 "Realtime Presence and Channel untilAttach functionality is missing"
See https://github.com/ably/ably-js/commit/885dd83c0cde9cc017cb4623b98c30eeaebb2667 where it was introduced in JS for Channel.  See also https://github.com/ably/ably-ruby/blob/382cff363d02e82ef3860a7612493a820750f4a9/spec/acceptance/realtime/presence_history_spec.rb#L56 and https://github.com/ably/ably-ruby/blob/245ac42b0e31cd03393022eb35952796a1a094b9/spec/acceptance/realtime/channel_history_spec

[2015-08-21 11:45] mattheworiordan opened #37 "Intermittent REST test issues"
See https://travis-ci.org/ably/ably-java/jobs/68963408

[code]

[2015-08-21 14:31] mattheworiordan opened #38 "Android, build and test documentation"
@paddybyers please can you update the README ASAP for users to:
- Understand how to use the library with Android
- Build the JARs
- Run the test suite, including info relating to the encryption issues we have seen a few times

[2015-08-21 20:40] sanjuthomas commented on #26
Thanks; I can first cover this project into maven project. Then upgrade the logging framework once we have consensus on the logging framework.

[2015-08-22 13:02] sanjuthomas commented on #26
I tried to mavenise the project today. I got every dependencies except the  org.msgpack. I used the following versions but two class didn't compile with those versions.
		<dependency>
			<groupId>org.msgpack</groupId>
			<artifactId>msgpack</artifactId>
			<version>0.6.12</version>
		</dependency>

Classes didn't compile are 1. BaseMessage and 2.WebSocketTransport

1.  org.msgpack.type.ValueType.B

[2015-08-22 13:03] sanjuthomas commented on #28
I am working on maven support. will send a pull request in couple of days.

[2015-08-25 10:59] stannedelchev opened #39 "Unable to deploy client lib in Android Studio project on OSX"
1. git clone ably/ably-java
2. cd to ably-java
3. `ant clean && ant`
4. Create new Android project via `Blank Activity` template
5. Copy ably-android.jar and ably.jar into Android project folder/app/libs
6. Set up Android Studio project to depend on `ably-android.jar` via the Settings Dialog
7. Make project -> make completes successfully
8. Run -> Debug 'app' -> gradle breaks with exception:

[cod

[2015-08-25 11:20] mattheworiordan commented on #39
@paddybyers can to help?

[2015-08-25 13:27] paddybyers commented on #39
What JDK version do you have? I'm guessing Java8 so by default it's building class files with java bytecode version 52, whereas a maximum of 51 is supported on Android.

Can you confirm that adding:

    source="1.6" target="1.6"

attributes to the `javac` task in `build.xml` resolves it?

[2015-08-25 15:46] stannedelchev commented on #39
Yes,  version is `1.8.0_40`. so building in 1.6 fixed it, thanks!

[2015-08-25 16:13] stannedelchev opened #40 "Token authentication "Request mac doesn't match""
I'm trying to use the same pattern for connecting to Ably as [the one I'm using in the cordova demo app](https://github.com/ably/demo-mobile-phonegap-cordova/blob/master/www/js/app.js#L99) - providing clientId and authUrl to the Realtime instance.

    app.ably = new Ably.Realtime({
        authUrl: 'https://www.ably.io/ably-auth/token-request/demos',
        clientId: clientId,
        log: { lev

[2015-08-26 14:17] mattheworiordan commented on #40
@paddybyers can you help?

[2015-08-26 14:17] mattheworiordan commented on #39
@paddybyers can you add a note to the README about this and close?

[2015-08-26 14:41] paddybyers commented on #39
I think we should just apply that change. @stannedelchev can you do a PR?

[2015-08-26 14:47] stannedelchev commented on #39
Sure, I'll do one tomorrow. Would you like to split the `compile` task, so that we target 1.6 only on Android, or is 1.6 fine for any platform?

[2015-08-26 15:07] paddybyers commented on #39
I think ideally for JRE we'd default to the current java version, with 1.6 for Android. Then of course we have the question of how to specify a non-default version for JRE....

[2015-08-27 14:40] stannedelchev opened #41 "NullPointerException: Attempt to invoke interface method 'java.lang.String java.security.Principal.getName()' on a null object reference"
1. Create a new Android project in Android Studio via the _Simple Activity_ template
2. Attach `ably-android.jar` in project
3. Replace code in MainActivity with code from [here](http://pastebin.com/kReKYm2V) and fix package name.
4. Run on device
5. Get exception when calling `channel.history()` on line 61:

`io.ably.types.AblyException: java.lang.NullPointerException: Attempt to invoke interface

[2015-08-27 15:35] stannedelchev commented on #39
OK, added PR #42 .
I'm not really familiar with Ant specifics, but IMO it should be possible to specify the version via a command-line parameter?
That way the user can do something like
`ant clean && ant build --version=1.6` if he requires a custom version, or just
`ant clean && ant build` in order to build with the default/current JDK.

[2015-08-27 19:43] paddybyers commented on #40
So, the underlying issue is this bug in the Android JSON library:

http://stackoverflow.com/questions/18226288/json-jsonobject-optstring-returns-string-null

We're getting `"clientId": null` back from the token request server, and this is getting resolved, essentially, as `"clientId": "null"` :(

I will push a fix.

[2015-08-27 20:48] paddybyers commented on #39
In fact you can:

    -Dant.build.javac.target=1.6

[2015-08-28 11:57] paddybyers commented on #40
Can you confirm that latest master fixes this for you? (Specifically https://github.com/ably/ably-java/commit/d209d3696ec4a1626ea3f6ca1a81731b53c9a669)

[2015-08-28 11:58] #31 closed

[2015-08-28 12:00] paddybyers commented on #28
I'm looking now at what's the best way to support Android developers using Studio. Should we be using Maven/Ivy or gradle?

[2015-08-28 15:05] stannedelchev commented on #40
Confirmed, latest `master` ( 8a11affa1272e1dd168b7dbe33595a9cd464ebf2 ) works fine.

[2015-08-28 15:05] #40 closed

[2015-09-16 09:05] stannedelchev commented on #41
Any news regarding this issue? It's a blocker for history retrieval functionality in the Android demo app.

[2015-09-16 09:06] paddybyers commented on #41
No, I've not had a chance yet but will asap

[2015-09-23 10:51] mattheworiordan commented on #41
@stannedelchev we're doing our best to address this but just not had time. I'm hoping to get some help to address this in the next few days...

[2015-09-29 13:13] mattheworiordan opened #44 "Switch arity of auth methods"
See https://github.com/ably/docs/commit/63ff7fa2d654641a9d7856bd8dc67beb937d3fef

The `AuthOptions` and `TokenParams` arguments are switched.

[2015-10-06 01:58] mattheworiordan commented on #44
Also see https://github.com/ably/docs/commit/7e7dc0e19cbb3af98136d5ca39e217e00dfd25f2 whilst you are addressing this

[2015-11-02 15:36] petergphillips commented on #26
I ran into the same issue today with the dependencies whilst trying to build a proper ably jar (not a fat one).  It appeared to me that both msgpack and java-websocket had been modified and re-built by ably from the original versions.

I think that these would then need to be published separately by ably and moved to their own io.ably package structure, or alternatively merge requests raised with

[2015-11-02 15:49] paddybyers commented on #26
@petergphillips yes, you're right. We're about to release a new version which resolves these problems (see https://github.com/ably/ably-java/tree/gson).

The msgpack dependency has been updated (there was a complete API change between the version we were using and the latest), and the java-websocket depedency (for which the latest version wasn't on Maven central) is obtained from a github repo. (T

[2015-11-02 17:05] mattheworiordan commented on #28
We have agreed we will publish to JCenter instead as this is the new defacto standard.

[2015-11-02 17:06] mattheworiordan opened #45 "Implicit attach on Publish or Subscribe"
The client library should implicitly attach on Publish or Subscribe on a channel, but does not appear to be doing this.

Please check that all other implicit operations on Channel & Presence work too, and add some tests to cover this in future.

[2015-11-02 22:49] paddybyers opened #46 "Gradle build should be able to build library without Android SDK installed"
The `android-test` project requires the Android gradle plugin and so all tasks invoked on the top-level project fail if the Android SDK is not installed.

[2015-11-03 10:19] paddybyers commented on #46
See: https://github.com/ably/ably-java/pull/47

[2015-11-03 10:55] paddybyers commented on #45
https://github.com/ably/ably-java/pull/48

[2015-11-17 18:44] mattheworiordan commented on #46
@paddybyers: assigning this ticket to you as a reminder that it would be good to merge this in plus respond / close any open PRs as I expect they are now outdated.  Also, please try and get CI passing and I will enable for Travis

[2015-12-02 22:48] mattheworiordan opened #53 "Final 0.8 spec updates"
See https://docs.google.com/spreadsheets/d/1bG_SEVlCi3blQBveGtsncxFGD4ArCtS-JCq6iLW3lGw/edit#gid=1243782805&vpid=B4

We need to ensure the Java lib is consistent with the agreed final spec

- [ ] Default token params
- [ ] clientId precedence when provided twice
- [ ] Support wildcard Auth#clientId
- [ ] Client library does not need to have REST limits
- [ ] API versioning to ensure future compati

[2015-12-02 22:50] mattheworiordan commented on #15
@paddybyers this is quite high priority given we want people to soon start using all of our client libs, and therefore need to ensure we have consistent examples in our Github repos and code in all our examples. Is this something you can do, or can we discuss how best to tackle this?

[2015-12-09 00:51] mattheworiordan opened #54 "Host fallback for REST"
It's possible our host fallback is not working correctly following a chat with a customer who is experiencing issues.  They have confirmed at the time they are unable to curl to rest.ably.io, however I would then expect the client to route to a different data centre.

See error below:

[code]

[2015-12-27 13:28] mattheworiordan commented on #46
@paddybyers merging your branches into `master` is now quite critical as people are starting to do PRs on out of date code which may conflict.  Can this be prioritised please?

[2015-12-29 12:09] paddybyers commented on #46
`master` now has the gradle build and all tests are passing in CI.

This bug (unable to build without Android SDK installed) is also resolved, so I'm closing this issue.

[2015-12-29 12:09] #46 closed

[2015-12-29 12:18] mattheworiordan commented on #46
Thanks

[2015-12-30 17:40] mattheworiordan commented on #38
Travis needs to build Android and run Android tests, see https://docs.travis-ci.com/user/languages/android

[2016-01-01 12:24] mattheworiordan commented on #28
@paddybyers can we close this now that `gradle` support is merged in?

[2016-01-01 13:51] mattheworiordan commented on #1
This issue is addressed separately in our roadmap at https://github.com/ably/ably-java/issues/1

[2016-01-01 13:51] #1 closed

[2016-01-01 13:51] mattheworiordan commented on #4
Fixed in https://github.com/ably/ably-java/commit/3fadecbc93184a7537340bf39318991a72ee1a55

[2016-01-01 13:51] #4 closed

[2016-01-01 13:53] mattheworiordan commented on #8
@paddybyers can you advise what you think we should do, if anything, in regards to supporting package managers?  If not, we should close this issue.

[2016-01-01 14:28] mattheworiordan commented on #8
@paddybyers please review https://github.com/ably/ably-java/compare/a172de755b9f6390688c23b3d4acf6521a59cff9...master and https://github.com/ably/ably-java/releases to confirm you are happy with the approach

[2016-01-01 14:29] mattheworiordan commented on #9
This is partially implemented, I believe the cipher encoding / decoding data is shared in Java using the ably-common submodule

[2016-01-01 14:40] mattheworiordan commented on #54
Related to https://github.com/ably/ably-java/issues/14

[2016-01-01 14:43] paddybyers commented on #28
we should upload artifacts to jcenter and then we can close it

[2016-01-01 16:54] mattheworiordan opened #61 "Ensure generated pom file contains the correct public Github repo links"
https://github.com/ably/ably-java/commit/285237642345a45f4d382b888d492d6da811c45d#commitcomment-15226600

[2016-01-01 17:24] mattheworiordan commented on #41
@stannedelchev can you test now as our Android work is merged in `master`.  If this is still an issue, please tell us, and we'll prioritise

[2016-01-01 17:24] mattheworiordan commented on #39
Is this still an issue?

[2016-01-01 17:28] mattheworiordan commented on #30
Any further thoughts @paddybyers?

[2016-01-01 17:29] mattheworiordan commented on #29
@paddybyers do you believe this is still an issue?  If so, I will add it to the backlog

[2016-01-01 17:32] mattheworiordan commented on #26
@paddybyers what is the status on this?

[2016-01-01 17:33] #24 closed

[2016-01-01 17:34] mattheworiordan commented on #23
This is underway and we don't need an issue to track this

[2016-01-01 17:34] #23 closed

[2016-01-01 17:37] mattheworiordan commented on #20
This is part of the spec http://docs.ably.io/client-lib-development-guide/features/#RTP13

[2016-01-01 17:38] mattheworiordan commented on #19
Closing this as it did not make it in the 0.8 spec, however it's quite easy to do with http://docs.ably.io/client-lib-development-guide/features/#eventemitter

[2016-01-01 17:38] #19 closed

[2016-01-01 17:41] mattheworiordan commented on #16
I believe this was never agreed in the 0.8 spec so should probably be considered in the 0.9 spec

[2016-01-01 17:41] #16 closed

[2016-01-01 20:00] paddybyers commented on #26
The default log level is updated to `WARN`:

https://github.com/ably/ably-java/commit/634f8dac4c1a9473d19c6267c1c11447a7dba8a6

The migration to use SL4J has not been attempted yet.

The other issues discussed above with dependencies are resolved.

I think this issue should be closed and a separate issue raised, if we want to, to address future migration to use SL4J.

[2016-01-01 20:01] paddybyers commented on #39
I don't believe so; I have been testing on OSX with Java 8.

[2016-01-02 11:48] paddybyers commented on #30
I think:
- it's debatable whether or not `errorReason` is an improvement on what we have;
- we have more important things to do than fiddle with it.

[2016-01-02 13:49] gokhanbarisaker opened #62 "AuthOptions constructor is not unambiguous"
AuthOptions constructor takes a string argument, which may be a key or a token. That makes the constructor argument ambiguous.

We may prevent this by changing constructor accessiblity to private and using builder pattern

[2016-01-02 13:55] paddybyers commented on #62
The other libraries address this by looking at the string and deciding whether it is a key or a token.

[2016-01-02 15:58] gokhanbarisaker opened #63 "Typo on Presence#history javadoc"
`relates` misspelled as `relqtes` on https://github.com/ably/ably-java/blob/d668973bbd89b5ca5ef836937ef7d32fce5a9aab/lib/src/main/java/io/ably/lib/realtime/Presence.java#L286

[2016-01-02 17:15] mattheworiordan commented on #63
May as well just fix and do a PR no?

[2016-01-02 17:22] mattheworiordan commented on #62
@gokhanbarisaker I don't think a different pattern is needed given, as Paddy says, every other client library uses this approach and simply analyses the string provided to work out what it is. We do something similar for Authentication with an `authUrl` in that we detect the response as being a `TokenDetails`, `TokenRequest`, or token string.

[2016-01-02 17:23] mattheworiordan commented on #28
FYI, we now have an account with https://bintray.com which we should use to publish binaries.

[2016-01-02 17:24] mattheworiordan commented on #30
Will move to 0.9 proposals that will be reviewed in due course

[2016-01-02 17:24] #30 closed

[2016-01-02 18:52] gokhanbarisaker commented on #63
I just wanted to add it here as a reminder. I will do it once I finish my current task.

[2016-01-02 19:08] mattheworiordan commented on #39
@stannedelchev can you confirm so that we can close this issue?

[2016-01-02 19:08] #26 closed

[2016-01-02 19:09] mattheworiordan opened #64 "Use log4j for logging"
See https://github.com/ably/ably-java/issues/26#issuecomment-168334893

[2016-01-04 09:27] stannedelchev commented on #41
@mattheworiordan I'll test it out on `master` today.

[2016-01-04 09:27] stannedelchev commented on #39
I'll test it today from `master` and close the issue if everything is OK.

[2016-01-04 18:43] gokhanbarisaker opened #68 "Remove eclipse artifact"
Remove `.project` file

[2016-01-06 08:08] gokhanbarisaker commented on #38
@mattheworiordan Whether it is Android or pure Java, [JUnit tests will run on local JVM](http://developer.android.com/training/testing/unit-testing/local-unit-tests.html). We might run these tests using [AndroidJUnitRunner](https://google.github.io/android-testing-support-library/docs/androidjunitrunner-guide/), but they require a connected (virtual or physical) device. For that, [Cloud Test Lab](

[2016-01-06 08:11] gokhanbarisaker opened #69 "Fix missing JCE dependency on Travis"
Crypto tests are failing because missing JCE on Travis. Related discussion is active on travis-ci/travis-ci#832

[2016-01-06 08:23] paddybyers commented on #38
There is no longer a separate Android build of the library.

The `android-test` subproject is set up to build and run the tests on Android with `AndroidJUnitRunner` which will work with a locally-connected device or emulator.

I'm not sure how well that Travis CI support will work for us because it takes over the building of the tests based on things you specify in the .yml instead of using the gr

[2016-01-06 08:24] #63 closed

[2016-01-06 13:26] mattheworiordan commented on #69
Remove `createPomTask` too, see https://github.com/ably/ably-java/pull/67#issuecomment-168523500

[2016-01-06 21:26] mattheworiordan commented on #38
Sure, but it is very handy to have one test suite that passes or fails, and I expect if we used Cloud Test Lab we'd need to have a separate job run.  If I am wrong, and you can integrate into the Travis CI tests, then please do go ahead

[2016-01-06 23:12] paddybyers opened #71 "Add shutdown hook to close a connection when the VM exits"
See: https://github.com/ably/ably-java/pull/52#issuecomment-169463809

[2016-01-07 12:10] stannedelchev commented on #39
Closing the issue. Running `./gradlew fullJar` in `master` outputs the library correctly and works fine in Android Studio.

[2016-01-07 12:10] #39 closed

[2016-01-08 11:26] mattheworiordan opened #72 "Do not persist authorise attributes force & timestamp"
A recent discovery in the iOS library has unearthed a small shortcoming in the spec, corrected at https://github.com/ably/docs/commit/f768f0db76020d945cf34974ef7d14d36113f0cd

[2016-01-08 14:21] mattheworiordan opened #73 "Exit blocked by Ably Realtime when main thread exits"
See https://github.com/ably/ably-java/pull/52#issuecomment-169644640

We need to ensure that the threads for Ably are killed when the main thread has exited

[2016-01-12 14:25] gokhanbarisaker commented on #41
@stannedelchev I tested your code with ably-java v0.8.1

Although cause of exception is a bit little different since you are using an older version, I believe the reason is the same. We are receiving `82 a6 61 63 74 69 6f 6e 01 a5 63 6f 75 6e 74 01` messagepack message on the client. That translates to `{"action":1,"count":1}`. Since we are missing some required parameters (`msgSerial` in my case)

[2016-01-12 14:32] paddybyers commented on #41
You should not crash but there isn't  anything else really you should do, because it should never be possible for you to receive this message. I will have a look at why this is being sent.

[2016-01-12 16:28] gokhanbarisaker commented on #41
OK. I will add a message validation before they get processed.

[2016-01-12 18:08] mattheworiordan commented on #41
Thanks @gokhanbarisaker for identifying this, looks like we have a bug in the realtime system. I have raised an issue that will hopefully be fixed shortly by @paddybyers

[2016-01-14 07:32] #69 closed

[2016-01-14 12:01] mattheworiordan opened #75 "Presence data assumed to be a string, Map not supported"
Background:

We need to ensure the Java lib can accept all the accepted data types (String, Binary, Map/Hash) in presence data and also set data with all these data types.

[2016-01-14 21:04] stannedelchev commented on #75
@paddybyers Here are some hex dumps, generated via `ably-java/lib/src/main/java/io/ably/lib/transport/WebSocketTransport.java`:

	public String bytesToHex(byte[] bytes) {
		char[] hexArray = "0123456789ABCDEF".toCharArray();
	    char[] hexChars = new char[bytes.length * 2];
	    for ( int j = 0; j < bytes.length; j++ ) {
	        int v = bytes[j] & 0xFF;
	        hexChars[j * 2] = hexArray[v >>>

[2016-01-17 18:34] mattheworiordan commented on #75
Thanks @stannedelchev, any idea @paddybyers?  Should we get @gokhanbarisaker to look at this as a priority?

[2016-01-17 20:21] paddybyers commented on #75
The final bytes of the first dumped message:

    A46461746181A86973547970696E67C3

Compare with:

[code]

So clearly the structure that was packed is invalid, because the `data` member, when packed (ie after encoding) may only be a string or a buffer (msgpack `BIN`).

So the sender of this message is the problem because instead of packing a message like:

[code]

it should be:

[code]

The `encod

[2016-01-17 20:24] stannedelchev commented on #75
the JS lib sends the message from the Cordova demo app hosted on heroku
On Jan 17, 2016 10:21 PM, "Paddy Byers" <notifications@github.com> wrote:

[2016-01-17 20:31] paddybyers commented on #75
One for @SimonWoolf ?

[2016-01-17 22:44] mattheworiordan commented on #75
@stannedelchev, perhaps so that you are not blocked, simply disable the binary protocol for both client libraries, you can do this easily with `useBinaryProtocol: false`, see http://docs.ably.io/client-lib-development-guide/features/#TO3f

[2016-01-20 22:15] #75 closed

[2016-01-22 10:14] mattheworiordan opened #76 "Token issue potential bug"
We have identified a situation where a client library could, in theory, end in an endless loop of trying to reissue tokens and reattempt requests.  We've addressed this now in the spec at https://github.com/ably/docs/commit/b628023b83aca480464d55e4260e21ee20690d7a.

This library needs to be updated accordingly.

[2016-01-26 00:08] #68 closed

[2016-01-30 11:12] #15 closed

[2016-02-01 17:47] gokhanbarisaker opened #81 "Remove unused HexDump file"
https://github.com/ably/ably-java/blob/d668973bbd89b5ca5ef836937ef7d32fce5a9aab/lib/src/main/java/io/ably/lib/util/HexDump.java

[2016-02-01 17:48] gokhanbarisaker commented on #81
As an alternative, this can be used during debugging http://stackoverflow.com/a/21992128/892500

[2016-02-01 17:51] gokhanbarisaker opened #82 "Explicitly define charset with String.getBytes()"

[2016-02-02 23:19] paddybyers commented on #81
Yes, lets remove it.

[2016-02-03 01:44] mattheworiordan opened #83 "Unsubscribe all and off all is missing"
See http://docs.ably.io/client-lib-development-guide/features/#RTL8

Java does not support unsubscribe with no arguments i.e. remove all subscribers, see https://github.com/ably/ably-java/blob/3a97edbc922e5285dd2bbbc8cad5a4d5206ac88b/lib/src/main/java/io/ably/lib/realtime/Channel.java#L254-L305

`off` without any args for all listeners & events is also missing, see https://github.com/ably/ably-jav

[2016-02-03 13:58] mattheworiordan commented on #82
What do you mean?

[2016-02-03 14:04] paddybyers commented on #82
Use of [getBytes()](https://docs.oracle.com/javase/7/docs/api/java/lang/String.html#getBytes()) is discouraged because it theoretically creates a dependency on the platform's default charset, so it is better to explicitly pass the charset.

[2016-02-03 14:47] mattheworiordan opened #84 "Attach CompletionListener"
The Java library is missing a callback for completion of `Channel#attach`

See http://docs.ably.io/client-lib-development-guide/features/#RTL4d and

[2016-02-04 15:11] mattheworiordan opened #85 "Channel state should be initialized not initialised for consistency"
Given most of our libraries use `initialized` (see https://github.com/ably/ably-js/blob/d9f706111ec05a981f24be370bd98a6fd406f973/common/lib/client/realtimechannel.js#L13 and https://github.com/ably/ably-ruby/blob/0ba64081f1ee5117f3dafbb6e9fa59e026f471dc/lib/ably/realtime/connection/connection_state_machine.rb#L10) as opposed to `initialised`, and the Java lib even uses [`initialized` for connectio

[2016-02-04 15:52] paddybyers commented on #85
Grudgingly ok

[2016-02-04 16:19] tcard commented on #85
On the other hand, there's `Auth#authorise`. Maybe they can be aliased?

[2016-02-07 16:04] #41 closed

[2016-02-08 11:24] mattheworiordan commented on #85
I know `initialized` is inconsistent, we intended initially on using UK English spellings. I think an alias may in fact cause more confusion as people may not understand why there is an `authorise` and `authorize` function and if they differ.

[2016-02-10 11:55] mattheworiordan opened #87 "Message constructor is inconsistent"
See the IDL definition at https://github.com/ably/docs/commit/ff9d7fd341fda96c0daae83161c77e3c456e57c3

See https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/types/Message.java#L45, the clientId arg comes before data and needs to be swapper

[2016-02-10 18:04] mattheworiordan opened #88 "README not complete"
I was looking through the README to find examples of presence, and I see it's a bit limited.  For example there are no examples on how to subscribe to presence events, get the current members, etc.

We need to bring this README up to date with Ruby's README, see https://github.com/ably/ably-ruby/commit/2661d07f0d9e7ff7ab9fef3a1749ffa4961e3057

[2016-02-10 18:09] mattheworiordan commented on #21
This is needed for API compatibility

[2016-02-10 18:32] mattheworiordan opened #89 "Presence enter, update, leave methods need to be overloaded"
The `enter`, `update`, `leave` methods cannot be called without a listener and/or without a payload.  They should be overloaded to allow for this.

This should probably also apply to `*Client` such as `enterClient` as well.

See http://docs.ably.io/client-lib-development-guide/features/#idl for the IDL

[2016-02-11 16:03] mattheworiordan opened #90 "Lower case PresenceMessage.Action enum"
If you look at [ConnectionState](https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/realtime/ConnectionState.java#L6-L15), the enums are all lowercase allowing something like:

[code]

and the following:

[code]

Same applies for [ChannelState](https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/realtime/ChannelState.java#L6-L13).

However, [`Presen

[2016-02-11 16:09] mattheworiordan opened #91 "Message & PresenceMessage Listeners provide arrays of messages, unlike the IDL"
In our "current IDL":http://docs.ably.io/client-lib-development-guide/features/#idl, message and presence message listeners typically produce one message at a time to the listener. It's not a big issue, but why does Java potentially call the listener with multiple messages instead of just one like all other libs?

@paddybyers?

[2016-02-11 16:14] paddybyers commented on #90
I don't feel strongly about it. The enum values are constants so the usual Java naming convention is that they're upper case, but it's a breakable rule I think. Internal consistency in the java lib has to have a higher priority, and consistency with other libs is also a consideration, although not an overriding priority.

I'm ok for them to change to lower case.

[2016-02-11 20:24] mattheworiordan commented on #36
Note when this is released we must update the docs at www.ably.io/documentation/realtime/channels-messages and www.ably.io/documentation/realtime/presence

[2016-02-11 23:27] mattheworiordan commented on #44
Note the presence and auth docs need to be updated when this is fixed

[2016-02-11 23:57] mattheworiordan commented on #90
Ok, thanks, lets change to lower then

[2016-02-12 10:18] mattheworiordan opened #92 "Reauthentication on external URLs"
Looking at https://github.com/ably/ably-java/blob/8a151b4edfa228ddef806fa10d2f9ce2be1ac09c/lib/src/main/java/io/ably/lib/rest/Auth.java#L379, one can see that `authUrl` requests use the ably HTTP library to get the authentication token when `authUrl` is provided.

However, this is designed incorrectly as far as I can see because:

* [authUri calls httpExecute](https://github.com/ably/ably-java/blo

[2016-02-12 10:40] paddybyers commented on #92
If the exceptions from authURL requests were being thrown directly back to user code to handle then I'd agree that they should be the raw exception. However, it's the library's job to deal with the aftermath and so, once any type-specific processing has been done, I think it is fine then for them to be wrapped in a type that allows them to be handled uniformly from that point on. We can always ret

[2016-02-12 11:56] mattheworiordan commented on #92
Agreed

Yes, well that is what I was alluding to, we should be passing a suitable error to the ConnectionStateChange and in the ErrorInfo

Ok, so we should move it into ablyHttpExecute then, changing this issue to a bug

[2016-02-12 11:59] mattheworiordan commented on #82
@paddybyers should I close this issue then?

[2016-02-12 12:22] paddybyers commented on #82
I assume it was raised because there are still occurrences that don't specify the charset, so leave it open until I or @gokhanbarisaker check

[2016-02-12 14:16] mattheworiordan opened #93 "Host fallback for Realtime is not working"
See https://github.com/ably/ably-java/pull/80/files#r52731114, it will use fallback for any environment

[2016-02-12 17:30] mattheworiordan commented on #21
Also, we support arrays of events i.e `public void subscribe(String[] names, PresenceListener  listener)`

[2016-02-14 16:20] mattheworiordan commented on #84
When this is fixed, please check all references to attach in the documentation, for example realtime history

[2016-02-15 15:02] mattheworiordan commented on #44
Note that previous two comments are for @mattheworiordan to address when this issue is resolved in Java

[2016-02-15 22:25] #44 closed

[2016-02-15 22:25] #90 closed

[2016-02-16 14:54] #89 closed

[2016-02-16 18:41] mattheworiordan commented on #92
I believe this is may be an issue for potentially retrying requests for external URLs as well, see https://github.com/ably/ably-java/pull/80/files#diff-a93f75fd1c92d5797fcc98928286df75R102 which implies that it's retrying any request using the `httpExecute` method.

[2016-02-18 14:47] mattheworiordan commented on #91
@paddybyers any thoughts on this as we're doing an API clean up now?

[2016-02-19 07:52] paddybyers commented on #91
The original idea was that the listeners took an array, so if multiple messages happen to be deliverable simultaneously, then that was possible only calling each listener once.

Now we're delivering each message separately there's no point in having an array of messages passed to the listener. It's a trivial change so we should go ahead and do it.

[2016-02-19 08:40] mattheworiordan commented on #91
Ok, @gokhanbarisaker please go ahead and make this change.  I will add it to the prioritisation sheet

[2016-02-19 18:37] mattheworiordan opened #103 "force is an attribute of AuthOptions, not an argument"
`force` is an attribute of `AuthOptions`, not an [argument to the `authorise` method](https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/rest/Auth.java#L322)

[2016-02-19 18:43] mattheworiordan opened #104 "authorise should store AuthOptions and TokenParams as defaults for subsequent requests"
See http://docs.ably.io/client-lib-development-guide/features/#RSA10g

I am not convinced that the Java lib implements this given https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/rest/Auth.java#L323 and https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/http/TokenAuth.java#L39-L56

[2016-02-24 11:18] #83 closed

[2016-02-24 11:19] #85 closed

[2016-02-26 23:42] mattheworiordan opened #105 "New Crypto Spec"
Please see https://github.com/ably/docs/pull/89

We need to ensure this library complies with the changes described in the PR

[2016-02-28 06:15] gokhanbarisaker commented on #91
Should I also make the same change for `ProtocolMessage`'s `Message` array variable?

https://github.com/ably/ably-java/blob/603d78813054ad564d6e1ea8ef5e81e56a490d03/lib/src/main/java/io/ably/lib/types/ProtocolMessage.java#L116

[2016-02-28 08:49] paddybyers commented on #91
You mean change it to be just a `Message`, not `Message[]` ?

No. A `ProtocolMessage` may contain multiple messages. The reason for this issue is that, when that occurs, then `Message`s are still delivered to the listener singly.

[2016-02-28 10:05] gokhanbarisaker commented on #91
@paddybyers thanks. Then, current pull request #106 should solve the problem.

[2016-02-29 06:01] gokhanbarisaker commented on #33
is `!hasNext()` and `isLast()` has a difference?

[2016-02-29 06:08] gokhanbarisaker commented on #33
Also, docs for TG7 seems confusing, where `isLast` returns true for non-last pages

[2016-02-29 08:50] paddybyers commented on #33
Yes

You're right, and the doc is wrong.

[2016-02-29 10:08] #91 closed

[2016-02-29 10:25] #103 closed

[2016-02-29 10:26] #87 closed

[2016-02-29 10:29] mattheworiordan opened #109 "More deterministic untilAttach tests"
See https://github.com/ably/ably-java/pull/102/files#r53464967

[2016-02-29 10:47] mattheworiordan opened #110 "CI is failing"
See https://travis-ci.org/ably/ably-java/jobs/112552681

We should focus on getting that stable again as a priority.

[2016-02-29 12:35] mattheworiordan commented on #33
Typo in TG7 fixed at https://github.com/ably/docs/commit/08de08e7b75d21bf455f68111f0afaf3e2ba1999

[2016-03-01 18:20] stannedelchev opened #112 "Library doesn't seem to serialise Map objects properly"
I'm using the following code to send a presence update:

    Map<String,Boolean> payload = new HashMap<>();
    payload.put("isTyping",false);
    try {
        sessionChannel.presence.update(payload,null);
    } catch (AblyException e) {
        e.printStackTrace();
    }

This translates to the following MsgPack hex:
`89A6616374696F6E0EA26964AD4D3754536F6A4A5A35532D3331A5636F756E7415A76368616E6E

[2016-03-01 18:49] mattheworiordan commented on #112
Thanks @stannedelchev we'll get Gokhan to look at this shortly.

@SimonWoolf this reconfirms our fear that some libraries are not as interoperable as we expect.  The related issue is https://github.com/ably/wiki/issues/22, we should consider prioritising this.

@gokhanbarisaker in the mean time, can you try and figure out why the Hashmap is being encoded as `{isTyping=false}` please and provide a

[2016-03-01 20:29] paddybyers commented on #112
The problem is that `Message.encode()` doesn't notice that the given `data` isn't JSON-serialisable:

https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/types/BaseMessage.java#L108

If the given `data` doesn't match any of the conditions there: ie `instanceof JSONElement`, `instanceof byte[]`, instanceof `String`, then (according to `(RSL4a)`) if should throw an exception

[2016-03-01 21:14] SimonWoolf commented on #112
So I'm very far from being a java dev, but gson can apparently serialise a HashMap into json [just fine](http://stackoverflow.com/a/12156646). Why not just call `gson.toJson` on anything we get that isn't a `byte[]` or a `String`, wrap it a try-catch, and let gson throw an exception if it's fed something it can't serialize?

[2016-03-01 21:57] paddybyers commented on #112
That's possible but that same approach doesn't work when deserialising - we would have to pick something canonical to deserialise to, and the end result would not be the same as the original value.

I think it is more useful on the decode side to allow clients to define their own Gson-serialisable types, and have a way for them to decode specifically to that type, instead of to a generic collectio

[2016-03-02 07:35] stannedelchev commented on #112
So I tried using a JSONObject like this:

    JSONObject payload = new JSONObject();
    payload.put("isTyping", false);

That generates a proper JSON as the data: `{"action":14,"id":"zu4ekVHDa6-6","count":21,"channel":"mobile:chat","channelSerial":"e478831912432:13","connectionId":"zu4ekVHDa6","connectionSerial":11,"timestamp":null,"presence":[{"clientId":"sa1","connectionId":"zu4ekVHDa6","action

[2016-03-02 08:07] gokhanbarisaker commented on #112
@stannedelchev [this](https://github.com/ably/ably-java/blob/bcde67a28a3b9a5547ac1763e78fa7c54ff88981/lib/src/main/java/io/ably/lib/types/BaseMessage.java#L218) is the root of your problem. We are packing Java `Object.toString()` representation to data field, when we have a subclass of java object. As @paddybyers pointed out, we are only properly serialising JSONObject instances to JSON serialised

[2016-03-02 10:02] paddybyers commented on #112
No.

The library supports raw `data` - which is either a `String` or `byte[]`. This is simply passed unchanged into the structure that gets packed.

The library also supports JSON-encoding of complex types, if it recognises that they can be JSON--encoded. The current implementation requires that these are instances of `JSONElement`, meaning that they are encodable using the gson library: then it e

[2016-03-02 11:07] #36 closed

[2016-03-02 11:08] #17 closed

[2016-03-02 11:09] #54 closed

[2016-03-02 11:11] mattheworiordan commented on #112
@paddybyers to avoid this unexpected co-erced string behaviour, I definitely vote we reject them. @gokhanbarisaker can you prioritise getting that to work and issue a PR for this?

[2016-03-02 12:55] stannedelchev commented on #112
OK, I got the presence updates working.
In my last comment I was using Android's native [org.json.JSONObject](http://developer.android.com/reference/org/json/JSONObject.html) which gets coerced to string as the library checks against `com.google.gson.JsonObject`.
Once I switched over to using GSON's Json objects everything started working fine.

[2016-03-02 13:03] mattheworiordan commented on #112
Ok, that's good @stannedelchev. It would be good to prevent other developers from hitting this snag @gokhanbarisaker if you can help

[2016-03-02 13:07] #21 closed

[2016-03-14 11:15] mattheworiordan opened #120 "Add proxy support"
A customer has requested the ability to set the proxy manually for HTTP and WebSocket connections.

We need to add this functionality to the library.

[2016-03-14 12:13] mattheworiordan opened #121 "Add fallback transport support"
If WebSockets are not supported, potentially when [using a Proxy](https://github.com/ably/ably-java/issues/120), we may need to consider adding fallback transport support like our ably-js library.  One to review if this need arises.

[2016-03-14 19:36] paddybyers commented on #120
A few requirements questions:

- for HTTP proxy, I assume we want support for an explicit proxy, which supports HTTP, or HTTPS as a MITM proxy;

- do we need to support configuration of proxy host and port explicitly in the client API which targets only the Ably host, or should we rely on the JVM-wide system properties? If the latter, do we populate those properties based on given client options,

[2016-03-14 20:26] mattheworiordan commented on #120
@paddybyers I will ask the customer now to see if he can comment to help direct us.

[2016-03-14 20:42] Frintrop commented on #120
- yes. explicit proxy ( java.net.Proxy object?)
-not system wide proxy. some companies have more than one proxy. setter i.e. as java.net.Proxy object ) to connect method.
proxy authentication would be nice, too.
-for websockets, too. 50 percent of proxies don´t support websocket, 50 percent works. seamly fallback to comet first and than polled would be fine. rely on a client configuration may be p

[2016-03-14 20:45] Frintrop commented on #120
Think wasync (configured with async http client ) from atmosphere framkework supports this setup ...

[2016-03-14 23:56] paddybyers commented on #120
Yes, agreed, this should be used, configured by proxy options given when initialising the Ably library.

This seems to be slightly more problematic using `HttpURLConnection` because the way to do this seems to be with `Authenticator.setDefault()`, which sets a global handler, not one for a specific context. We need to look into this further.

OK, we will look into this.

OK. We would prefer to mak

[2016-03-16 09:14] #84 closed

[2016-03-16 09:23] mattheworiordan commented on #121
[Java Engine.io client](https://github.com/socketio/engine.io-client-java) or [Java SockJS client](https://github.com/socketio/engine.io-client-java) may be worth considering, depending on the implications for us to support that protocol

[2016-03-16 16:08] mattheworiordan commented on #120
@gokhanbarisaker I have added Proxy support to Ruby, but unfortunately it's blocked by a WebSocket issue so I've only been able to test the HTTP parts.  See https://github.com/ably/ably-ruby/pull/84

We would like to do the same for the Java library, see @paddybyers branch at https://github.com/ably/ably-java/tree/proxy-support.  Can you add suitable test coverage to his work, and:

* add support

[2016-03-16 16:22] #34 closed

[2016-03-16 16:37] paddybyers commented on #120
See the latest commits to that branch.

This is done.

I've added `ProxyOptions.nonProxyHosts` as an array of regexp strings for hostnames that are not to be proxied.

I think this is the first thing to look at: get some tests running against that (without authentication initially); we should decide what constitutes appropriate coverage. There should be a http and async http request which successf

[2016-03-16 16:40] mattheworiordan commented on #120
Easy enough, see https://github.com/ably/ably-ruby/pull/84/commits/cf437136698f68121ad1482446e6395cc6879433#diff-d4400109d5e5b080196aad253c2e7f4fR39 and https://github.com/ably/ably-ruby/pull/84/commits/cf437136698f68121ad1482446e6395cc6879433#diff-d4400109d5e5b080196aad253c2e7f4fR72.  It checks that the proxy fails when the details are incorrect or TLS was supposed to enabled etc.

[2016-03-17 01:00] paddybyers commented on #120
@gokhanbarisaker: please see https://github.com/ably/ably-java/commit/67b59617831a7034d88e95a6ee1cef128c4e77ab

I've added auth support and a few initial tests to run against `sandbox-proxy.ably.io`.

[2016-03-18 08:00] paddybyers commented on #110
Fixed: https://ci.ably.io/job/ably-java/193/

@gokhanbarisaker: I was getting this in the log when our CI runs:

[code]

I had also got this error when running in development, because of a version mismatch between the `org.hamcrest` classes in the hamcrest package, mockito, and Junit itself. The fix was to order the classpath so that the hamcrest package is referenced first.

How are you running t

[2016-03-18 08:02] #92 closed

[2016-03-18 08:05] paddybyers commented on #76
This is addressed for HTTP as a result of http auth changes in https://github.com/ably/ably-java/pull/123.

Need to check ws still.

[2016-03-18 08:07] paddybyers commented on #22
This is resolved.

[2016-03-18 08:07] #22 closed

[2016-03-18 10:46] paddybyers commented on #120
Reopening after Github auto-closed.

The current shortfalls are:

- no support for auth when using TLS. This is because although we set the `Proxy-Authorization` header on a connection following a 407, it is not added to the `CONNECT` request. We can set a global `Authenticator` which might fix the issue, but that would be a temporary fix because it's not really acceptable for us to set a global `

[2016-03-21 12:24] #33 closed

[2016-03-21 13:08] gokhanbarisaker commented on #110
@paddybyers: I have tried with both scenarios. Both worked fine on my local. I don't know why we get this error.

[2016-04-01 10:13] mattheworiordan opened #124 "HTTP Version Not Supported"
When running https://github.com/ably/demo-mobile-android on a physical Android device, it crashes with the following error.

I suspect this is an ably-java issue as opposed to an Android Demo issue.

[code]

[2016-04-01 10:16] mattheworiordan commented on #124
FYI. the device I tried it on is a OnePule ONE E1001 Android 5.1.1, API 22

[2016-04-01 10:24] mattheworiordan commented on #124
It also fails on an emulator now with the same error

[2016-04-01 10:30] paddybyers commented on #124
We should check that the URL is valid: http://stackoverflow.com/a/14292195

[2016-04-01 11:57] #45 closed

[2016-04-05 14:13] mattheworiordan commented on #73
@gokhanbarisaker @paddybyers apparently this is still happening.

Can we look into this ASAP please?

[2016-04-05 20:16] paddybyers commented on #73
Do you know if the `closed` state was reached? Once that happens, the `ConnectionManager` thread should exit. If you want a short term workaround we could provide a way to force the `ConnectionManager` thread to be a daemon but I definitely want to understand why it's not exiting.

Is there any chance you're blocking in one of the connection state callbacks?

[2016-04-06 11:31] gokhanbarisaker commented on #73
hi @mattheworiordan ,

I have profiled the v0.8.2 with both `Android` & `Tomcat`. It seems like all threads are getting cleared

The test behavior is,
- `Connect to ably`
- `Attach to a channel`
- `Publish a message`
- `Quit`

[2016-04-06 18:13] mattheworiordan commented on #73
FYI, from the user experiencing this problem:

I will be in touch once we have code to reproduce this.

[2016-06-02 17:32] mattheworiordan opened #129 "Add reauth capability"
See https://github.com/ably/docs/pull/113 for the spec, and https://github.com/ably/ably-js/pull/269 for the JS implementation.  We need to implement this in this library soon.

[2016-07-13 08:19] mattheworiordan opened #130 "Important: Ensure DETACHED or DISCONNECTED with error is non-fatal"
See a bug discovered today at https://github.com/ably/ably-js/issues/312 for ably-js.

This is quite problematic because if we explicitly have to DETACH a channel (due to a timeout for example), then the client now will move the channel into the failed state.  This means most customers will never re-attach that channel automatically, see https://www.ably.io/documentation/realtime/connection#handli

[2016-07-15 17:20] #130 closed

[2016-08-04 11:40] tcard commented on #112
Just bumping this as a user just had problems with this. Maybe this should be prioritized? See ably/wiki#22.

[2016-08-04 11:54] paddybyers commented on #112
@tcard I'm not sure what there is to fix other than a documentation issue? I don't think the java lib should be supporting all available JSON libraries; we picked one (GSON). So if you want to pass `data` values to the library and you want it serialised as JSON, your `data` must implement the relevant interface (eg `com.google.gson.JsonObject`).

[2016-08-04 11:58] tcard commented on #112
@paddybyers This, at least:

[2016-08-04 12:27] paddybyers commented on #112
@tcard ok, agreed

[2016-08-04 13:07] mattheworiordan commented on #112
@tcard can you help ensure that we reject invalid objects that don't match the expected type then?

[2016-08-04 14:57] tcard commented on #112
@mattheworiordan Yep, I'll give it a try.

[2016-08-04 22:30] paddybyers opened #133 "A post-suspend clean connection removes all channels instead of moving them to DETACHED"
https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/transport/ConnectionManager.java#L326

[2016-08-05 18:00] mattheworiordan opened #134 "Add example for typical use of authCallback in README"
┆Issue is synchronized with this [Jira Story](https://ably.atlassian.net/browse/SDK-400) by [Unito](https://www.unito.io)

[2016-08-05 18:30] gabrielinvolves commented on #134
It must work:

[code]

[2016-08-05 18:36] mattheworiordan commented on #134
Thanks @gabrielinvolves we will use this as a guide to updating our README

[2016-08-10 12:09] #112 closed

[2016-08-10 12:13] tcard opened #139 "For 0.9, replace deprecation notice by an exception in BaseMessage.encode."
Basically, [this line](https://github.com/ably/ably-java/blob/16a865928919cae5482793f37a5cf44069e0c95e/lib/src/main/java/io/ably/lib/types/BaseMessage.java#L122) should be removed and [this one](https://github.com/ably/ably-java/blob/16a865928919cae5482793f37a5cf44069e0c95e/lib/src/main/java/io/ably/lib/types/BaseMessage.java#L120) should run unconditionally, ie. removing [this condition](https://

[2016-08-12 22:14] mattheworiordan commented on #110
Apparently the Crypto tests are failing too now.

[2016-08-23 08:49] #88 closed

[2016-08-24 09:53] mattheworiordan opened #145 "Prep for 0.9 spec"
@paddybyers, we need you to please with some urgency do:

* [ ] Given the severity of https://github.com/ably/ably-java/issues/133, can we please have a hot fix for this ASAP and we'll bump the version and release?
* [ ] Rebase your Android CI work and write a brief for one of the Android devs to finish this work off. Please bear in mind that https://github.com/ably/ably-java/pull/128 and https://

[2016-08-24 23:20] #133 closed

[2016-08-25 19:58] paddybyers commented on #145
We will keep https://github.com/ably/ably-java/pull/125 separate for now. I want the project structure changes implemented with no other functionality changes, and then the other stuff becomes a lot less complicated.

[2016-08-25 19:58] paddybyers commented on #145
Closing

[2016-08-25 19:58] #145 closed

[2016-08-26 15:27] mattheworiordan opened #148 "Complete Android build work"
We've updated the project structure and the current status is in https://github.com/ably/ably-java/tree/project-struct-update

The aim of the update is to split the builds for the android and java versions of the library so that the appropriate toolchain is used for each. This means that we can provide artifacts in the most appropriate format (ie .aar for Android) and in future will enable us to a

[2016-08-26 15:27] mattheworiordan commented on #148
Please note if you have any questions, please speak with @paddybyers in the `#client-libraries` channel

[2016-09-05 10:00] SamDeBlock opened #155 "ably-java 0..8.3 release isn't available on jcenter"
As you can see [here](https://bintray.com/ably-io/ably/java) 0.8.3 is missing.

[2016-09-05 18:05] dsvishchov commented on #148
So all in all after working on this for some time there are some questions and things to discuss.

Questions:
1) according to the latest commit of @paddybyers there is no task to build a test .apk, or I am I missing something?

My vision of how it has to work ideally (please review and confirm/adjust/ask):
1) since we split into Java and Android we need to ideally have 3 different jobs in Travis (

[2016-09-07 12:23] mattheworiordan commented on #148
@dsvishchov I will see if we can get @paddybyers to respond.  He is flat out on a serious bug we have discovered in the system which is causing intermittent delays.  I'll see if he can spare some time quickly.

[2016-09-07 12:27] paddybyers commented on #148
Isn't this already done by the standard `android:assembleAndroidTest` task?

ok

I think building the test apk already part of the android-library gradle framework. But yes, for verification purposes it would be a good idea to invent an android-specific test and include it and show that it gets included.

Doesn't `connectedCheck` already do this?

[2016-09-07 12:29] paddybyers commented on #148
I should add that we can merge this work as soon as we have Travis support for JDK7, and we can successfully run (ie pass) `connectedCheck` on the desktop with an attached device. Getting the Android device test running from Travis isn't a blocker for release.

[2016-09-07 17:42] dsvishchov commented on #148
1) Yes, you're right about android:assembleAndroidTest;
2) Already added Android-specific tasks;
3) Yes, you're right about connectedCheck, just confirming. As of now we have tests running on both locally connected device and Travis as well, there are couple of technical issues we're working on and then just need to make tests pass;

Once we have (I hope tomorrow) everything up and running properl

[2016-09-08 15:00] dsvishchov commented on #148
Pushed current state to appropriate branch. Currently it runs JDK7 (one test keeps failing, the rest are passing), JDK8 (all tests passing) and Android (some of them passing, some not, working on making them run properly). Just FYI in case you want to check current state and how it works.

[2016-09-08 19:46] dsvishchov commented on #148
Status update: made required changes to Android build, now tests run on the device without fails so far (takes quite long, we left them running on the device with 62 successfully passed). Will see how the final result in the morning and will provide an update.

[2016-09-08 20:02] mattheworiordan commented on #148
Nice, thanks @dsvishchov

[2016-09-10 23:22] paddybyers commented on #148
out of interest, which test was failing?

And which Android tests are taking a long time? I'd expect it to be slightly slower but not as much as it seems to be.

I will try to pull down what you've done and check it out on a device tomorrow.

[2016-09-12 09:15] dsvishchov commented on #148
We discussed tests with @mattheworiordan and agreed to have a separate ticket for current and further discussions regarding tests running locally and on Travis. So I'll create it during the day today.

[2016-09-12 13:46] dsvishchov opened #159 "Test failing on Travis (JDK7, JDK8, Android)"
As per discussion with @mattheworiordan adding this ticket for further investigation of various fails of tests on Travis (and sometimes locally) for all 3 environments (JDK7, JDK8, Android).

Out latest fixes for JDK7, JDK8 available in a separate branch:
https://github.com/ably/ably-java/tree/fix-tests

And associated latest Travis build:
https://travis-ci.org/ably/ably-java/builds/159298940

The

[2016-09-12 13:47] dsvishchov commented on #148
Please check the latest update and detailed description of test issues in a separate ticket:
https://github.com/ably/ably-java/issues/159

[2016-09-12 15:25] mattheworiordan commented on #155
Hi @SamDeBlock. Apologies we did not reply sooner, we missed this issue somehow.  This is now fixed, see https://bintray.com/ably-io/ably

[2016-09-12 15:25] #155 closed

[2016-09-13 16:09] mattheworiordan commented on #159
Thanks @dsvishchov. I am not sure I can specifically comment on these points, however my view is that:

* If we identify intermittent failures we should perhaps not let this work being merged in and instead we should add separate tasks to investigate in more details.  Are we sure if we run that single test multiple times locally it does not fail for example?  If not, then we should add issues to f

[2016-09-14 04:15] mattheworiordan opened #160 "RSC11: Environment option"
Please can we add an environment option to the Java lib which simply prepends the environment to the full domain for rest & realtime i.e. `clientOptions.environment = 'foo'` would result in it connecting to `foo-rest.ably.io` and `foo-realtime.ably.io` respectively for REST and Realtime endpoints.

See iOS and Javascript libraries for comparable implementations.

[2016-09-14 04:41] mattheworiordan commented on #160
This is covered by http://docs.ably.io/client-lib-development-guide/features/#RSC11

[2016-09-14 14:16] paddybyers opened #161 "Move java-websocket dependency to jcenter"
The current library depends on a version of java-websocket in a personal github repo, but this needs to move to a central repository.

The original author of that project stopped updating Maven central at 1.3.0, but we need 1.3.1. We can't update Maven central so we need it to be elsewhere.

I think we should upload a version to jcenter in our own name, and update the dependencies here, and in the

[2016-09-15 09:49] VOstopolets commented on #160
@mattheworiordan From http://docs.ably.io/client-lib-development-guide/features/#RSC11, environment option prepends the environment to the full domain for only **REST** endpoint. For Realtime, this is covered by http://docs.ably.io/client-lib-development-guide/features/#RTC1e. So, should I implement `RTC1e` too?

[2016-09-19 11:05] paddybyers commented on #148
@dsvishchov I'm looking now at the `project-struct-update` branch.

I think we need instructions for how to build from source in the README. The first problem is that it's expecting SDK version 22 - I think we should reference the latest available version, and explain in the readme how to build using that.

[2016-09-19 11:27] dsvishchov commented on #148
@paddybyers Yes, cause the latest version is not available on Travis, so we should decide how to handle this, please refer to:
https://docs.travis-ci.com/user/languages/android/

[2016-09-19 15:05] mattheworiordan commented on #159
@paddybyers can you advise what we should do here?  I would like to merge in as much of the Android work as possible i.e. what's in those branches.

[2016-09-20 16:22] mattheworiordan commented on #160
@VOstopolets I believe you have done this?  Should I close?

[2016-09-21 07:50] VOstopolets commented on #160
@mattheworiordan I have created PR for this task https://github.com/ably/ably-java/pull/162 (covered by `TO3k1`, `RSC11`, `RTC1e`), and it haven't approved.

[2016-09-21 09:21] mattheworiordan commented on #160
Given there is a PR that will be merged soon I am going to close this, thanks @VOstopolets

[2016-09-21 09:21] #160 closed

[2016-09-27 12:04] mattheworiordan opened #166 "Auth header included in HTTP requests"
I am seeing a lot of this in the logs from the Java client:

[code]

It looks to me like it's plausible that the Java client does not send the Basic authentication headers in the request but instead waits for a challenge each time and resubmitting the request.  Given it is never valid to send a request without either a Token or Basic Auth header, we should look into this.

[2016-09-27 12:07] mattheworiordan commented on #166
@trenouf any idea how the underlying HTTP lib works?

[2016-09-27 12:43] trenouf commented on #166
No, sorry, never looked at it.

[2016-09-27 13:01] mattheworiordan commented on #166
Ok, might be one for @paddybyers to comment on later when he's back then.  Seems odd that every Java request is in fact two HTTP requests

[2016-09-27 15:59] paddybyers commented on #166
Well it's supposed to be doing non-preemptive authentication, which is generally preferred practice, and sending credentials in response to the www-authenticate challenge. This should only happen once; the credentials should be cached by the HTTP client and always re-sent for subsequent requests by the same client to the same origin. If that's not happening then it's a bug.

[2016-09-27 16:03] mattheworiordan commented on #166
Why is that preferred practice when we know 100% of the time we'll need to authenticate?

I don't think we should assume that REST libraries are stateful.

[2016-09-29 18:04] mattheworiordan opened #167 "Connect whilst suspended does not appear to be connecting immediately"
This from a customer:

----

I enter aeroplane mode. The connection is lost, eventually, the connection type changes to suspended and the channels detach. All good.

The logs read:

[code]

At this point, I show a "retry" button on the screen.

In my testing, I now come out of aeroplane mode and wait a few seconds to ensure there is a good connection to WiFi/4G.

I tap the retry button which calls

[2016-09-29 18:05] mattheworiordan commented on #166
@paddybyers any thoughts, not sure the advantage of challenge response ever when we know we need to authenticate?

[2016-09-29 18:07] mattheworiordan opened #168 "disconnected & suspended retry timeouts missing"
See [TO3l1](http://docs.ably.io/client-lib-development-guide/features/#TO3l1) (`disconnectedRetryTimeout`) and [TO3l2](http://docs.ably.io/client-lib-development-guide/features/#TO3l2) (`suspendedRetryTimeout`).

Both options are missing from `ClientOptions`.

┆Issue is synchronized with this [Jira Story](https://ably.atlassian.net/browse/SDK-401) by [Unito](https://www.unito.io)

[2016-09-29 18:28] mattheworiordan opened #169 "More verbose failure messages for connections"
See log below:

[code]

Why are we not shown the reason it could not connect to rest.ably.io?  We should try and be more verbose for these failures.

[2016-09-29 19:33] paddybyers commented on #166
I think we can easily change it to preemptively authenticate. The fact that the REST API could be statelessly used does change things. The original implementation based on Apache HttpClient didn't support preemptive auth, but now we are using HttpURLConnection it should be simple.

[2016-09-29 20:38] mattheworiordan opened #170 "Aeroplane mode appears to be removing listeners"
This from a client:

We need to test to see if this is an Android issue (most likely) or something else, perhaps at a protocol level (we should add protocol message logging first, see https://github.com/ably/ably-java/issues/169#issue-180126091)

[2016-09-30 15:09] mattheworiordan commented on #161
Note once this is completed we should tag 0.8.4, then we must remember to update the tutorials to reference 0.8.4 (most of them do) but also to not have the unnecessary Java-WebSocket dependency, see https://www.ably.io/tutorials/publish-subscribe#lang-android

[2016-09-30 22:08] mattheworiordan opened #171 "Change JCenter package name"
See https://bintray.com/ably-io/ably, none of our packages actually have the name Ably which means a search on JCenter for https://bintray.com/search?query=ably reveals nothing as it only matches package names by default.

We should change it to `ably-java`

[2016-10-05 17:14] trenouf commented on #170
I think I have reproduced this on JRE. It looks like an ack comes back from the publish and I get an exception processing it:

18:08:44.256 [DEBUG] [TestEventLogger]     Caused by: java.lang.IllegalArgumentException: fromIndex(0) > toIndex(-4)
18:08:44.256 [DEBUG] [TestEventLogger]          at java.util.ArrayList.subListRangeCheck(ArrayList.java:1006)
18:08:44.256 [DEBUG] [TestEventLogger]

[2016-10-05 18:58] trenouf commented on #169
I've got a local fix for logging all protocol messages. I'll push it with any fix needed for #170.

[2016-10-05 20:37] mattheworiordan commented on #169
Great, thanks

[2016-10-05 23:41] trenouf commented on #167
Fixed by
https://github.com/ably/ably-java/pull/172

[2016-10-05 23:41] #167 closed

[2016-10-05 23:43] trenouf commented on #170
I have a fix for this. I will push it, with a test, tomorrow.

[2016-10-10 18:30] mattheworiordan opened #177 "Publish method succeeds in publishing but fails to call the success/failure callback"
This is from a customer, ticket number 1324.

* Java client 0.8.3 (upgrading to 0.8.4 now), using the realtime client
* From Java 8, serverside (running in Google Cloud, fwiw)
* Payloads are small (100s of bytes), JSON serialized as string, no non printable/binary characters, let me know if you need specific payload

[code]

[2016-10-10 19:06] #170 closed

[2016-10-11 10:46] trenouf opened #178 "fallback problems"
In trying to move ConnectionManagerTest into realtime suite so it gets run, I find that connectionmanager_reconnect_default_endpoint hangs.

I suspect that fallback has rotted and doesn't work at all.

[2016-10-13 10:52] trenouf commented on #178
Fixed by PR https://github.com/ably/ably-java/pull/179, now merged.

[2016-10-13 10:52] #178 closed

[2016-10-13 15:51] trenouf opened #180 "attach when transport closing"
RealtimeReauthTest has a 2s delay after doing a reauthorise. Without it the test fails with an unexpected exception. ConnectionManager.onAuthUpdated() tells the transport to close, so when the test immediately attempts an attach() we are in a state where the transport cannot send anything, but  ConnectionManager thinks it is still connected. That causes an exception.

[2016-10-13 16:57] mattheworiordan commented on #180
Thanks, good spot

[2016-10-16 14:34] mattheworiordan commented on #177
I believe this issue was resolved with the fixes in 0.8.4

[2016-10-16 14:34] #177 closed

[2016-10-16 14:36] mattheworiordan commented on #159
@paddybyers @trenouf is this issue as it stands still valid?

[2016-10-16 14:38] mattheworiordan commented on #129
@trenouf is this complete once the PRs are merged in?

[2016-10-16 14:40] #124 closed

[2016-10-16 14:40] #110 closed

[2016-10-16 14:41] mattheworiordan commented on #104
This is fixed with recent work

[2016-10-16 14:41] #104 closed

[2016-10-16 14:41] mattheworiordan commented on #93
@trenouf can you please confirm this is no longer an issue?  I don't think it is.

[2016-10-16 14:42] mattheworiordan commented on #82
@paddybyers @trenouf can we close this?

[2016-10-16 14:43] mattheworiordan commented on #81
@trenouf can you remove if it's still included?

[2016-10-16 14:43] mattheworiordan commented on #76
@paddybyers @trenouf can we close this, or can this still affect WS?

[2016-10-16 14:43] mattheworiordan commented on #73
@paddybyers any idea if this is still an issue?

[2016-10-16 14:44] mattheworiordan commented on #72
This is resolved

[2016-10-16 14:44] #72 closed

[2016-10-16 14:44] mattheworiordan commented on #71
I ass

[2016-10-16 14:44] #71 closed

[2016-10-16 14:44] #62 closed

[2016-10-16 14:45] #61 closed

[2016-10-16 14:45] mattheworiordan commented on #53
Closing this as covered elsewhere

[2016-10-16 14:45] #53 closed

[2016-10-16 14:46] #37 closed

[2016-10-16 14:46] #14 closed

[2016-10-16 14:47] #8 closed

[2016-10-16 14:47] #6 closed

[2016-10-17 07:33] trenouf commented on #159
@mattheworiordan  Yes, in a general way. I have a few tests that fail intermittently on java. I have not got as far as trying android yet.

[2016-10-17 07:35] trenouf commented on #129
Yes, fixed by PR https://github.com/ably/ably-java/pull/149, now merged.

[2016-10-17 07:35] #129 closed

[2016-10-17 07:38] trenouf commented on #93
@mattheworiordan  Yes, fixed by PR https://github.com/ably/ably-java/pull/179

[2016-10-17 07:38] #93 closed

[2016-10-17 07:42] trenouf commented on #82
@mattheworiordan  I see 5 occurrences of getBytes(). One is in HexDump.java and one in Base64Coder.java, so I think they're ok. The others, in Http.java Auth.java, ProtocolSerializer.java need checking out.

[2016-10-17 07:49] trenouf commented on #81
Just doing it now.

[2016-10-17 08:07] trenouf commented on #81
Fixed by merged PR https://github.com/ably/ably-java/pull/181

[2016-10-18 10:47] #81 closed

[2016-10-18 17:07] trenouf opened #183 "Intermittent connect_token_expire_disconnected failure"
I sometimes get a failure on RealtimeConnectFailTest.connect_token_expire_disconnected.

The sequence of events is supposed to be:
Auth.requestToken with ttl=8000ms
Create a different AblyRealtime passing tokenDetails from the requested token
Wait for it to connect
Wait for it to disconnect due to token expiring
Wait for it to connect when it gets a new token.

The problem I see sometimes is that,

[2016-10-20 19:19] mattheworiordan opened #186 "authorise signature for 0.8 is incorrect"
https://github.com/ably/ably-java/pull/185

[2016-10-20 21:43] trenouf commented on #186
I agree it is wrong, but Simon said that we should not break compatibility within 0.8.x libraries.

Paddy said:
After discussion with @SimonWoolf we decided that we should not make a breaking change in the a minor release of the 0.8 library, given that it is widely used. Instead, we will correct the signature when 0.9 is released.

[2016-10-20 21:45] trenouf opened #187 "never valid to provide both a restHost and environment value"
Matt pointed out this bit of spec that disallows setting both restHost and environment:
http://docs.ably.io/client-lib-development-guide/versions/features-0-8/#TO3k2

I didn't spot that, and just thought the spec was being vague about which takes precedence. So
PR https://github.com/ably/ably-java/pull/162
(which has already been merged) is wrong.

[2016-10-21 10:32] mattheworiordan commented on #186
@paddybyers I replied to your comment but for some reason it did not arrive.

I don't agree with this personally, if it's wrong and inconsistent with **every** other client library, and the arity of the other auth methods is fixed, then we should just go ahead and fix this.  Whilst it may be breaking, we need to remember that Java is strongly typed, so customers will not have silent failures, and

[2016-10-25 11:09] trenouf commented on #187
Fixed by PR https://github.com/ably/ably-java/pull/189

[2016-10-25 11:09] #187 closed

[2016-10-25 15:06] trenouf opened #191 "travis jdk7 build gets buffer overflow fault"
The .travis.yml contains this code:
# Buffer overflow patch. Source: https://github.com/travis-ci/travis-ci/issues/5227#issuecomment-165135711

before_install:
- cat /etc/hosts # optionally check the content _before_
- sudo hostname "$(hostname | cut -c1-63)"
- sed -e "s/^\(127\.0\.0\.1.*\)/\1 $(hostname | cut -c1-63)/" /etc/hosts | sudo tee /etc/hosts
- cat /etc/hosts # optionally check the conte

[2016-10-25 15:44] trenouf commented on #183
I am disabling RealtimeConnectFailTest.connect_token_expire_disconnected

[2016-10-25 15:45] trenouf commented on #191
I am disabling the openjdk7 build.

[2016-10-25 15:45] trenouf commented on #159
I am disabling the following tests:

RestAppStatsTest.appstats_day0
RestAppStatsTest.appstats_month0
RestPresenceTest.rest_presencehistory_order_text_b
RestPresenceTest.rest_presencehistory_order_text_f
RestPresenceTest.rest_presencehistory_paginate_text_b
RestPresenceTest.rest_presencehistory_paginate_text_f
RestPresenceTest.rest_presencehistory_limit_text_b
RestPresenceTest.rest_presencehistory_

[2016-10-25 20:44] mattheworiordan commented on #191
Mmm, annoying. Unfortunately OpenJDK is pretty popular so expect we'll need to get to the bottom of this :/

[2016-10-27 10:31] SimonWoolf opened #197 ""Trust anchor for certification path not found" exception on android"
Customer ([chat log](https://app.intercom.io/a/apps/ua39m1ld/inbox/all/conversations/6489961748)) getting a `W/System.err: io.ably.lib.types.AblyException: javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.` exception for rest requests (specifically, a history request).

Full stacktrace:

[code]

Customer says they've

[2016-10-27 12:26] SimonWoolf opened #198 "Document what proguard flags needed to make lib work with proguard"
Customer reports that when they use proguard, they get `java.lang.ClassNotFoundException: io.ably.lib.transport.WebSocketTransport$Factory`.

[2016-10-27 12:30] paddybyers commented on #198
it looks like we need to add

    -keep public class io.ably.lib.transport.WebSocketTransport

or something like that

[2016-10-27 12:32] trenouf commented on #159
Disabled some more tests on PR https://github.com/ably/ably-java/pull/194:
RestAppStats:
appstats_hour0
appstats_pagination0
appstats_pagination1
appstats_pagination2
appstats_pagination3

I will look at why they're failing soon.

[2016-10-27 12:36] trenouf commented on #198
The android build stuff is now merged into master, and I don't see any such proguard rule in there, and I believe I ran the tests as successfully as on JRE.

[2016-10-27 12:39] paddybyers commented on #198
I assume it applies when an app includes the library and they then specify some minimisation/obfuscation for the app.

[2016-10-27 12:54] akoul889 commented on #198
We tried using this `-keep public interface io.ably.lib.transport.WebSocketTransport$Factory {*;}`
to fix this issue as described  [here](http://stackoverflow.com/a/25711830)

But using this fixed the problem
`-keep class io.ably.lib.** { *; }
-keep class org.msgpack.core.** { *; }`

Don't know where `org.msgpack.core` is coming from. Couldn't find that in the sdk.

[2016-10-27 14:54] trenouf commented on #159
The auth tests only fail if some other tests run before them. Are all tests in a test run sharing the same app? Would that cause this problem?

[2016-10-27 15:17] paddybyers commented on #159
auth?

Yes. The test setup does a `POST /apps` on realtime, which creates an app, and all tests are run using that.

We try to avoid that in every way we can, eg with unique channel names for each test. However, stats are inevitably common, and the stats tests ought to take account of possible conflicts by limiting the values queried via start and end params, so as to be unaltered by what's happen

[2016-10-27 15:23] trenouf commented on #159
Sorry, I meant the appstats tests.

Would having a new app for each test class be too expensive?

Sounds like it would be easier to make the stats tests reliable if I just give that class its own app.

[2016-10-27 15:27] paddybyers commented on #159
That would be possible but, looking at the tests, it looks like it would also be possible to prevent them from interfering by posting the stats for a minute/hour/day other than the present one.

If that's going to get too messy then we can create another app, but I believe the other libs are able to do it with a single app.

[2016-10-27 15:28] trenouf commented on #159
OK, I'll try doing it for a day in the future or something.

[2016-10-27 15:37] trenouf commented on #159
A year in the future seems to work. I guess it needs to be more than a month, as some of the tests are doing a month range.

[2016-10-27 16:15] paddybyers commented on #159
I was thinking in the past :) In the future is potentially prone to getting overwritten, and it complicates the cleanup of stale data.

[2016-10-27 16:20] trenouf commented on #159
The presence tests: the failures all seem to be where it expects channel presence history to be in forward order if direction=forwards or backward order if direction=backwards, but what it is seeing is the exact opposite. Assuming this test has worked at some point in the past, could it be a change in the order in which the channels get set up when posting the app spec to the server?

[2016-10-27 16:35] paddybyers commented on #159
But all history is on a per-channel basis, so why would the creation order between channels make a difference?

Can you capture a specific example and post the http request and response here?

[2016-10-27 16:40] trenouf commented on #159
I don't think I fully understand what it's trying to do then. More news later.

[2016-10-27 19:13] trenouf commented on #159
[log.txt](https://github.com/ably/ably-java/files/556781/log.txt)

@paddy This log shows:
1. A post to sandbox/apps to set up the app, with 5 channels.
2. The response, showing the channels in reverse order (which doesn't matter at this stage, but might give some insight into what has happened in the server).
3. A get to sandbox-rest/channels to get the presence history.
4. The response, which sho

[2016-10-27 19:16] trenouf commented on #159
I've also got RestTimeTest.time0 and RestTimeTest.time_async failing locally. I recall someone mentioning that that happens when your clock is out of sync with the server, and indeed the clock on my mac is 13s fast.

[2016-10-27 19:33] paddybyers commented on #159
The tests should query the server for the time, and determine the offset between the local machine time and the server's time. Then that offset can be used to validate the `/time` responses.

The problem with that is that it's circular, if you use the `time()` API to get the time in the beginning.

So probably the simplest thing to do is to use the Http API directly to get `/time`, and use the res

[2016-10-27 19:46] paddybyers commented on #159
OK, so your confusion is that the POST contains one message into one channel (`restpresence_notpersisted`), and 4 messages into one other channel (`persisted:restpresence_persisted`).

I will have a look at it.

[2016-10-28 12:05] SimonWoolf commented on #197
Customer says:
- the GlobalSign nv-sa cert is present, has the correct id, and enabled on the phones
- they can't run `openssl s_client -debug -connect rest.ably.io:443` etc. as they're on windows

[2016-10-28 12:17] paddybyers commented on #197
Hmm.

Is there a simple online check (ie an Ably demo that runs in the browser) so he can point his phone browser at it, and see what the browser thinks of the cert/network combination?

[2016-10-28 12:27] SimonWoolf commented on #197
I've asked them to just go to https://rest.ably.io (it'll be a 404, but that doesn't matter) on one of the phones, and click the padlock and tell us what it says, hopefully that'll rule out / confirm a MITM

[2016-10-28 13:47] trenouf opened #202 "intermittent failure: RealtimeCryptoTest.set_cipher_params"
Paddy said:

That’s been an intermitted failure since the beginning of time. I looked at it once, and have no real idea why. If it happens 16th of the time it might be that the failed decryption is only detected that often, when the PKCS un-pad detects the error (which it will only do 1/16th of the time or something like that)

[2016-10-30 21:04] trenouf commented on #186
I was wondering if there was some way of supporting both signatures simultaneously on 0.8. Suggestions:
1. With java method overloading, you can just define both. The problem is that authorise(null,null) gives a compile failure, which can be fixed by casting one of the nulls. Is that a problem? Does anyone do authorise(null,null) outside of our own library and test code?
2. A bit dodgier, but we c

[2016-10-30 21:22] paddybyers commented on #186
1) I don't like because code that previously compiled now fails to compile, so it's a breakage anyway. We just don't know if anyone is doing that.

2) I don't like because it's not really what you're supposed to do in a strongly typed language.

A breaking change at some point is unavoidable, so we might as well do it once, and properly.

[2016-10-30 21:23] trenouf commented on #186
So, now or 0.9?

[2016-10-30 21:24] mattheworiordan commented on #186
I vote now

[2016-10-30 21:24] paddybyers commented on #186
I know.

[2016-10-30 21:26] mattheworiordan commented on #186
Yup, was just hoping to get a show of votes to confirm one way or the other.

[2016-10-30 21:46] mattheworiordan commented on #105
@trenouf whilst you are in the Crypto stuff, I know what we don't actually adhere to the Crypto spec correctly as there are missing methods / objects according to [the 0.8 IDL](http://docs.ably.io/client-lib-development-guide/versions/v0.8/features/#idl).

We have had one customer complain about this already and thought that the Java lib was unstable as a result.

Could you specifically check that

[2016-10-30 21:48] trenouf commented on #105
Will do.

[2016-10-30 22:07] mattheworiordan commented on #105
Thanks

[2016-10-31 12:12] mattheworiordan commented on #186
@SimonWoolf @tcard can you please indicate what your preference would be here?  Given this is  a typed language my feeling is that whilst we are making a breaking change, we've [done this  before anyway](https://github.com/ably/ably-java/commit/7f0ad3962041bed01f49fcbbdfb5daf500eeca56).

@paddybyers I assume you would prefer to leave as is then?

[2016-10-31 12:24] paddybyers commented on #186
I don't see why it's a good idea to make a breaking change in 0.8.x. We want customers to know that they can take bugfix releases at any time without breaking their code. 0.9 will fix it.

[2016-10-31 12:43] SimonWoolf commented on #186
I would default to not making breaking API changes between patch versions.

We have done those before (in ably-js too), but that was when we had very few customers and they all knew they were using a service that hadn't been launched yet; that's no longer the case.

@mattheworiordan you've said above you're concerned about accuracy of the documentation -- but at least if the order swaps between 0.

[2016-10-31 12:56] mattheworiordan commented on #186
Ok, fine, leave as is then.  Do you think the old deprecated method https://github.com/ably/ably-java/pull/208#issuecomment-257278014 should have the correct parity or old incorrect parity?  I would say it should have the correct parity personally.

[2016-10-31 14:29] tcard commented on #186
The problem is, we're conflating two meanings to our client libraries' major.minor versions: they refer both to the specific library version and to the generic specification version ("the IDL"). Obviously, those two meanings are in conflict when, as in this case, the library API and the IDL don't coincide, and then we're forced to choose what we break. In those cases I'd tend to go with sticking t

[2016-10-31 14:57] SimonWoolf commented on #186
No strong preference either way from me (deprecated methods for renames are less important in compiled languages anyway)

[2016-10-31 15:55] trenouf commented on #186
I prefer new correct param order for the old deprecated method, but that might only be because that is what I have implemented so it is less work for me. :-)

[2016-11-01 10:26] trenouf commented on #105
ChannelOptions spec points to the java one as a reference!
However the field that the spec thinks should be called `cipher` is instead called `cipherParams`, and there is another private field called `cipher`. That could cause confusion.

CipherParams:
Instead of a binary field `key`, it has a SecretKeySpec field `keySpec`. I guess we could implement the binary field `key` with some code to notice

[2016-11-01 10:43] paddybyers commented on #105
Is the `key` supposed to be mutable? That certainly wasn't the original intention.

[2016-11-01 11:41] mattheworiordan commented on #105
From what I can tell:

* [getDefaultParams](https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/util/Crypto.java#L74-L89) does not conform, see http://docs.ably.io/client-lib-development-guide/features/#RSE1b, it should take a Hashmap or language equivalent so that  any subset of CipherParams fields that includes a key can be provided.  That needs to be fixed.
* I agree it

[2016-11-01 12:05] paddybyers commented on #105
Well the original idea was that concrete subtypes of `CipherParams` would have the implementation- or platform-specific realisation of the given params, even if they are created using portably-defined arguments.

However, we have a `keySpec` in a `Cipher` object, so there's no need for it to be constructed in the `CipherParams`.

That's not very java-esque but I suppose it would be a `Properties`.

[2016-11-02 07:14] mattheworiordan commented on #197
He has confirmed that rest.ably.io via the browser is accessible fine (i.e. valid cert), although I've now asked him to check with the Android lib as I suspect Chrome includes its own trusted cert chain.  That arguably though does rule out MITM.

@paddybyers any further suggestions here?  If this issue is indeed affecting others, we should do everything we can to reproduce and resolve for everyone

[2016-11-02 09:42] mattheworiordan commented on #197
Even after our certificate changes to remove the root cert from the chain, the customer is still experiencing this issue both on a physical device and emulator.  He also confirmed he is not using MDM.

The device that he can reproduce this on is is a nexus 5, with marshmallow, 4.95"

[2016-11-02 13:13] paddybyers commented on #197
So the problem was that he has setting a custom `SSLSocketFactory` with a custom set of root certs:

[code]

[2016-11-02 13:13] #197 closed

[2016-11-04 14:12] paddybyers opened #217 "Remove calls to System.xxx.println()"
There are a few places where there are direct calls to `System.xxx.println()` or `e.printStackTrace()` which need to be either replaced with calls to the logger, or removed.

[2016-11-04 18:21] mattheworiordan commented on #191
@trenouf @pmdcosta is this not fixed now?  Can we close this?

[2016-11-04 18:23] mattheworiordan commented on #159
@paddybyers @psolstice @trenouf can we close this as I believe the issues are covered elsewhere?

[2016-11-04 18:23] mattheworiordan commented on #148
@paddybyers @trenouf can we close this now?

[2016-11-04 18:25] paddybyers commented on #191
I believe so.

[2016-11-04 18:25] #191 closed

[2016-11-04 18:26] paddybyers commented on #159
I still need to check that there are specific issues raised where they need to be.

[2016-11-04 18:27] paddybyers commented on #148
yes

[2016-11-04 18:27] #148 closed

[2016-11-07 09:30] mattheworiordan commented on #161
@paddybyers is this resolved?  All of our documentation and tutorials unfortunately still references this explicitly, see https://github.com/ably/docs/pull/183/commits/7a731b3a8bfe17f7c9aa9c3fb0e278534fc20f42#diff-a551a3cd350dc478774a772f537a027fR25 for example.

Given going back and changing tutorials is a schlep, it would be nice to fix this now.

FYI @psolstice

[2016-11-07 09:30] mattheworiordan commented on #171
@paddybyers @psolstice whilst we are looking at https://github.com/ably/ably-java/issues/161 (assuming it's not done), we should fix this as I assume this is straightforward?

[2016-11-07 09:56] psolstice commented on #171
Also you have strange version name change. It was 0.8.3 but now it is v0.8.4 (note the "v"). Is it intentional?

[2016-11-07 10:47] paddybyers commented on #171
Not as far as I am aware.

[2016-11-07 10:56] mattheworiordan commented on #171
Tags are all `v*`, see https://github.com/ably/ably-java/releases.
Seems that I assume I must have used that convention mistakenly in the jFrog versions.  Ideally I'd like to get this issue resolved along with https://github.com/ably/ably-java/issues/161 and https://github.com/ably/ably-java/pull/125 and do a release, and I expect at that stage the version number will be irrelevant as the package

[2016-11-07 11:51] paddybyers commented on #171
no

[2016-11-09 19:15] paddybyers opened #220 "ConnectionManager.setSuspendTime() isn't called when a transport disconnects"
The `ConnectionManager` decides, when a transport drops (or fails to connect), whether to fall back to the `disconnected` state or to `suspended`. The idea is that `suspended` happens if it has been more than 2 minutes (`Defaults.SUSPEND_TIME`) since the last time it was connected.

The way this was implemented was to keep a record of the time at which `suspended` will be triggered, via `setSuspen

[2016-11-09 19:41] paddybyers opened #222 "ConnectionManager.failQueuedMessages() does not remove messages once the callback is called"
https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/transport/ConnectionManager.java#L815-L826

[2016-11-10 10:57] mattheworiordan opened #223 "Add Proguard support"
See https://github.com/ably/ably-java/pull/199

We should ensure that Proguard is automatically supported as opposed to expecting customers to manually configure.

[2016-11-10 15:59] SimonWoolf opened #224 "requeue pending messages onTransportUnavailable"
Looking at https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/transport/ConnectionManager.java, looks like currently if a transport dies, pending (unacked) messages are left in pendingMessages; they should be requeued (removed from pendingMessages and added to queuedMessages), to be resent when a new transport connects or failed when the lib goes into suspended. See http:/

[2016-11-11 23:55] paddybyers opened #226 "Make `TokenRequest` constructor public"
This is proposed so that explicit programmatic construction is possible, eg

[code]

[2016-11-14 15:28] mattheworiordan commented on #222
Is this issue now resolved with #225?

[2016-11-15 19:16] paddybyers commented on #226
Resolved in 0.8.6.

[2016-11-15 19:16] #226 closed

[2016-11-15 19:17] paddybyers commented on #222
Yes

[2016-11-15 19:17] #222 closed

[2016-11-15 19:17] paddybyers commented on #220
Resolved

[2016-11-15 19:17] #220 closed

[2016-11-15 19:18] paddybyers commented on #198
The readme has been updated, but also see https://github.com/ably/ably-java/issues/223

[2016-11-15 19:18] #198 closed

[2016-11-15 19:19] paddybyers commented on #171
The package name is now `ably-java`.

https://bintray.com/ably-io/ably/ably-java

[2016-11-15 19:19] #171 closed

[2016-11-15 19:20] paddybyers commented on #161
https://bintray.com/ably-io/ably/Java-WebSocket

[2016-11-15 19:20] #161 closed

[2016-11-15 19:21] paddybyers commented on #28
https://bintray.com/ably-io/ably/ably-java

[2016-11-15 19:21] #28 closed

[2016-11-15 22:43] Aarati opened #232 "Have Exponential backOff on Auth retry"
Repro:
Use AuthCallback for Ably authentication
Send 404 or invalid token
Check logs

Actual:
In logs we see Auth service is tries ~30sec.
The connection goes in disconnected state right after the auth failure.
Even after 10+ mins, the connection remains in disconnected state and rest client keeps trying to do auth.

Expected:
For client performance, auth retries should be done with exponential ba

[2016-11-16 01:02] paddybyers opened #233 "Transport state change events suppressed after loss of network"
A realtime library instance gets into a state, after some combination of having lost (and regained) a network connection, and a failing `authCallback`, in which all transport events are discarded as a result of the transport validity check: https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/transport/ConnectionManager.java#L223

This means that if there is a subsequent per

[2016-11-16 11:15] mattheworiordan opened #234 "PaginatedResult#items should be an attribute"
See current implementation at https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/types/PaginatedResult.java#L15

Then see https://github.com/ably/docs/pull/191.

This is not meant to be a method.

[2016-11-16 11:24] mattheworiordan commented on #234
Ideally isLast & hasNext should be attributes as well according to the docs, see current implementation at https://github.com/ably/ably-java/blob/bbeab5b1b0aea99ab20d7270c89034b8db28d9b0/lib/src/main/java/io/ably/lib/http/PaginatedQuery.java#L102-L114, there appears to be no reason these could not be attributes.

`hasCurrent` and `hasFirst` is not part of the space so I would be inclined to remove

[2016-11-16 13:21] mattheworiordan commented on #234
This is incorrect, this should be a method and the docs were incorrect, updating

[2016-11-16 13:21] #234 closed

[2016-11-16 14:29] SimonWoolf opened #235 "0.9 spec: fromJson"
For 0.9: Rename fromJSON -> fromJson, and allow to accept a json string as well as a JsonObject

See https://github.com/ably/docs/pull/193

[2016-11-16 14:30] mattheworiordan commented on #232
@Aarati we have discussed exponential back-off many times, but decided on what we think is a suitable back off strategy which only comes in two forms, see https://www.ably.io/documentation/realtime/connection#connection-states for more details.

The problem we have is that your use case may not match with someone else's use case, and as such, what we instead aim to do is provide you with the means

[2016-11-17 11:24] SimonWoolf commented on #232
I agree with Matt. Exponential backoff is great for congestion avoidance, but AFAICT there's no suggestion that that's an issue here. I don't follow the "for client performance" reasoning: if some has an e.g. android app open and trying to connect, we don't want the wait between retries to increase exponentially -- if they're not connected, presumably some crucial part of the app's functionality i

[2016-11-17 11:42] paddybyers commented on #232
I think the main point is that, even with an exponential backoff approach, you don't keep increasing the interval indefinitely. There is some maximum interval reached, at which point the retries simply become periodic.

What happens in the time before that maximum interval is reached is really just fine-tuning and optimisation for short-term failures and isn't relevant for the long-term condition.

[2016-11-23 01:46] mattheworiordan commented on #233
What's the status on a fix and test for this?

[2016-11-23 01:47] mattheworiordan commented on #232
Please note that we are reviewing this as part of a specification change, and will update this accordingly once we've agreed that.  See https://github.com/ably/docs/issues/202

[2016-11-23 01:48] mattheworiordan commented on #186
This is no longer an issue as we decided to leave as is and change in 0.9

[2016-11-23 01:48] #186 closed

[2016-12-05 10:47] SimonWoolf opened #244 "0.9 spec: UPDATE event, replacing ERROR"
https://github.com/ably/docs/pull/208/files

New spec is designed to be more straightforward for typed languages to implement than the old, which ably-java never fully implemented anyway (e.g. all events emitted by the Connection now have the interface (with a ConnectionStateChange as the first arg), and likewise for Channel)

[2016-12-05 10:48] SimonWoolf opened #245 "0.9 spec: Extras field"
https://github.com/ably/docs/pull/203

┆Issue is synchronized with this [Jira Task](https://ably.atlassian.net/browse/ECO-4220) by [Unito](https://www.unito.io)

[2016-12-07 07:27] mattheworiordan opened #247 "Invalid binary error message"
See https://github.com/ably/ably-java/blob/c94ebcb52e32ef4473ae3e075fe951befe1b4fe5/lib/src/main/java/io/ably/lib/transport/WebSocketTransport.java#L171.  This should say `Unexpected exception processing received text message`

[2016-12-23 15:22] SimonWoolf opened #258 "Problem using ably-java with newrelic"
Customer reported a `io.ably.lib.types.AblyException: java.io.IOException: readBufferBytes failed` exception calling `ably.channels.get(channelId).history(null).items();` (with ably-java 0.8.8). Stacktrace:
<details>

[code]

</details>

They report that on disabling newrelic, the problem disappears. They're using a newrelic version of "5.+" (?).

We should try and reproduce this, and figure out w

[2016-12-27 11:00] mattheworiordan opened #259 "java.lang.NullPointerException when publishing to channel following re-auth"
Client lib version: 0.8.8

Customer has reported that during the following sequence, they fail to publish a message, and inspecting the logs, there is a `NullPointerException`.

* Connect to ably with capability to publish to channel "private:chat:29453".
* Publish something on the channel
* Re-authorize with additional capability to publish to channel "private:chat:11111".
* Publish something on

[2016-12-27 11:01] mattheworiordan commented on #259
FYI, if you want to see their source code, see support ticket 1455

[2016-12-27 11:03] mattheworiordan opened #260 "async methods"
A customer has asked how they can call `client.auth.authorize` in a non-blocking way.   Currently, in the Java lib I believe this is only possible with a new thread.

Should we consider offering async alternatives to traditionally blocking method calls?

cc @paddybyers

[2016-12-27 12:18] paddybyers commented on #260
We have async variants of the other REST queries so we should add `requestTokenAsync()`

[2016-12-27 13:13] mattheworiordan commented on #260
Sure, so is the rule then that if an `async` suffixed method does not exist then the dev can assume the method is async?  Seems a little haphazard IMHO

[2016-12-27 16:09] paddybyers commented on #259
This looks like https://github.com/ably/ably-java/issues/180

[2016-12-27 16:30] mattheworiordan commented on #259
Yes, shame the issue wasn't resolved at the time then instead of adding a delay :(

[2016-12-29 11:45] paddybyers opened #261 "Msgpack truncates data member"
We are seeing truncation of the `data` member when a `ProtocolMessage` is encoded.

The problem has been confirmed on Android 4.4.2 with the ably-java 0.8.8 library, which uses msgpack-core 0.8.11.

The problem is not seen on ably-java 0.8.7 (using msgpack-core 0.8.2).

The following platforms seem to have no issue:

Any Oracle JRE
Android 5.0.1, 6.0, 7.0.

The suspicion is a incompatibility betwe

[2016-12-29 12:07] mattheworiordan commented on #261
Given the bump from 0.8.2 up to 0.8.11, could we try a version in between that doesn't exhibit these issues?

[2016-12-29 12:19] paddybyers commented on #261
Yes we could, but 0.8.11 was made to fix other similar issues, so we would just be creating unknown situations in which we fail.

[2016-12-29 15:17] mattheworiordan opened #262 "Remove deprecated ProtocolMessage#connectionKey"
See https://github.com/ably/docs/commit/713122267fcb0af45fa68384109fe8d27f21e726

[2016-12-29 23:04] paddybyers commented on #261
This has been isolated to a simple case where a map has a single string member of 512 bytes or greater:

https://github.com/msgpack/msgpack-java/issues/406

[2017-01-04 13:46] mattheworiordan commented on #76
@paddybyers @psolstice does this issue still apply?

[2017-01-04 15:37] mattheworiordan opened #265 "0.9 presence spec amendments"
Please see recently merged in https://github.com/ably/docs/commit/cf5c4783f884d98a1a4d86bdddfa6bb22c7c2da2 into the 0.9 spec.

Please ensure that if these spec items are implemented that they are updated to reflect the changes, and any new spec items are adhered to.

[2017-01-04 16:51] mattheworiordan opened #266 "Standardise on when exceptions are thrown and when callbacks are used"
See https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/realtime/Channel.java#L494-L497

The publish method can raise an `AblyException`, but also has a [`completionListener`](https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/realtime/CompletionListener.java) which handles success & failure conditions.

Now if you look at https://goo.gl/Hc0yqK, you

[2017-01-05 07:57] paddybyers opened #267 "Add support for ConnectionDetails.connectionStateTtl"
We keep getting the log message telling us that it's an unknown field.

[2017-01-05 14:14] mattheworiordan commented on #267
@paddybyers should we not as part of this fix ensure any unknown fields are ignored so that future changes don't introduce problems like this again?

[2017-01-05 15:37] paddybyers commented on #267
All unrecognised fields are safely ignored already, except for emitting a log message. We can downgrade the log message or remove it altogether.

[2017-01-06 11:35] mattheworiordan commented on #261
Another reported incident of this I am afraid in support ticket 1471.  Unfortunately this time it's Android 5:

[2017-01-07 23:30] paddybyers commented on #261
It would be useful if we could confirm that this really is the same underlying issue: would it be possible to run the attached apk on the device and see if it confirms the presence of the msgpack issue? (Run the app, and a Toast will show with "success" or "fail").
[MsgpackTest.zip](https://github.com/ably/ably-java/files/691784/MsgpackTest.zip)

[2017-01-08 00:20] paddybyers commented on #261
I've implemented a different fix, based on the workaround suggested in the upstream msgpack bug.

[2017-01-08 10:46] #261 closed

[2017-01-08 11:47] #262 closed

[2017-01-08 19:59] paddybyers commented on #223
This is resolved (fixed in https://github.com/ably/ably-java/commit/9d6723b2758526434a02979c54998d34b4f297c2)

[2017-01-08 19:59] #223 closed

[2017-01-10 20:03] mattheworiordan opened #278 "RSC19 is not implemented according to the spec in 0.9"
See https://github.com/ably/ably-java/pull/275

[2017-01-10 20:04] mattheworiordan commented on #267
This is resolved

[2017-01-10 20:04] #267 closed

[2017-01-11 01:16] paddybyers opened #279 "Add proguard warning for org.msgpack.core.buffer.**"
Add `-dontwarn org.msgpack.core.buffer.**` to proguard.txt

[2017-01-16 10:07] paddybyers commented on #279
Customer reported errors were:

[code]

[2017-01-16 10:08] #279 closed

[2017-01-17 12:26] paddybyers opened #282 "Redis message keys leaked"
We seem to be leaking message keys in redis. For example, on peoplefun instance `i-033b2b01b7cb83a7d` each redis keyspace contains about 10 million `epoch*` keys

[2017-01-17 12:28] tcard commented on #282
This isn't meant for ably-java, is it?

[2017-01-17 12:31] #282 closed

[2017-01-17 12:32] mattheworiordan commented on #282
Issue moved to [ably/realtime #826](https://github.com/ably/realtime/issues/826) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-19 09:52] ousenko opened #288 "0.8.10 bug during dex translation"
Hello, after upgrade from 0.8.4 to 0.8.10 I see:

[code]

App is multidex.

`compile "io.ably:ably-java:0.8.10"` used, from `jcenter()` I suppose

What are we to do about it? Exclude this BuildConfig ? Is it safe for ably lib operation ?

NOTE: I see that internals of BuildConfig are different between 0.8.4 and 0.8.10, if this means something

[2017-01-19 09:59] mattheworiordan commented on #288
Hi @ousenko. Sorry to hear that, I'll get one of our Java devs to advise shortly.

[2017-01-19 10:39] paddybyers commented on #288
We resolved a name conflict in this commit: https://github.com/ably/ably-java/commit/ca6f43305cbcbf098fa92f3b10f9535ef28c90d7#diff-9d225bc39d80f8e6874619bca156dfc7

which changes the name of one of the two versions of `BuildConfig`. That change was introduced in 0.8.6.

It is possible that the problem will be resolved with a `gradle clean` - I suspect you have an artifact from earlier builds that

[2017-01-19 11:01] paddybyers commented on #288
I can confirm that there was an issue with the `ably-java` binary on bintray. That is now resolved and a new version is uploaded. Sorry for the inconvenience.

You will need to clean the old version from your gradle cache.

Having said that, is this an Android project or a JRE project? Perhaps you need to be using the Android version:

    compile "io.ably:ably-android:0.8.10"

The `BuildConfig` p

[2017-01-19 11:38] paddybyers commented on #288
We're going to do a 0.8.11 release which is identical, except for the packaging issue that led to this problem on the java release. By referring to that you can avoid the step of clearing the gradle cache. I will post here once that is released.

However, in the meantime, the newest 0.8.10 binaries on Bintray are fine, and if you use the Android release then there won't be a problem anyway.

[2017-01-19 12:22] paddybyers commented on #288
Done: https://bintray.com/ably-io/ably/ably-java/0.8.11

[2017-01-19 12:22] #288 closed

[2017-01-24 01:52] mattheworiordan commented on #166
@paddybyers @psolstice whilst we're fixing other stuff, how easy would it be to make this change?  It seems incredibly wasteful to effectively make each HTTP request require two request/response operations at present.

[2017-01-24 09:25] psolstice commented on #166
Took a look at the code, only the first request sent to the server is sent without auth info. Auth header is cached for later use. I see no problem changing it so even the first request contains auth header.

[2017-01-24 11:33] paddybyers commented on #166
... provided it is available.

There are calls that cannot work if the auth header is required, such as `/time` and `/requestToken`.

[2017-01-24 11:40] psolstice commented on #166
I have already started testing it, yes, it leads to some change of code related to token request. Are there any other requests that I should be worried about (except `/time` and `/requestToken`)?

[2017-01-24 13:00] paddybyers commented on #266
This is becoming a bit of an issue now. We have different behaviours in different situations, and tests that expect those different behaviours, and we need to take some steps towards consistency even if we don't change everything wholesale.

For example, an `enter()` that fails because the library `clientId` is `*` throws an exception, whereas an `enterClient()` that fails with an incompatible `cl

[2017-01-24 13:06] mattheworiordan commented on #266
Well yes, I couldn't agree more, hence the issue and https://github.com/ably/docs/issues/252.

I think the logic should be quite simple:

* Sync methods always throw exceptions
* Async methods / methods will result callbacks only throw exceptions when the inputs for the method are invalid irrespective of the transient state of the library, otherwise the callback is called with an error.

[2017-01-24 19:33] mattheworiordan commented on #166
I think we should change that then, I don't see any reason why we'd try and anonymous request and wait for an auth challenge when we know we need to authenticate always.

As mentioned by @paddybyers though, this is not the highest priority

[2017-01-25 08:01] paddybyers commented on #261
The bug is now fixed upstream: https://github.com/msgpack/msgpack-java/pull/409

We will migrate once that gets released.

[2017-01-25 11:01] paddybyers commented on #266
I've updated the `clientId` checks for presence and messages: https://github.com/ably/ably-java/pull/294/commits/2076a2913febe23994695f06fc3dfbdf72acdef8

Channel state problems still throw exceptions, but I think this covers the new functionality.

[2017-01-27 16:20] paddybyers opened #305 "Implement AblyRealtime.connect()"

[2017-01-31 09:14] abhimanyuraj opened #306 "Android System.out: (ERROR): io.ably.lib.transport.WebSocketTransport: No activity for 25000ms, closing connection"

[2017-02-08 11:34] SimonWoolf opened #307 "Add example of publishing a JsonObject to readme?"
Customer [here](https://app.intercom.io/a/apps/ua39m1ld/inbox/all/conversations/8135841515) had a Map and wanted to publish it, properly json-encoded. (It was getting published as a string). I told him that it needed to be an instance of `com.google.gson.JsonElement` (e.g. a JsonObject); he asked how to coerce a Map to a JsonObject. As a non-java dev I had no idea -- the [gson docs](https://static

[2017-02-08 12:57] mattheworiordan commented on #307
Could we not automatically coerce popular JSON class objects?

[2017-02-08 13:21] SimonWoolf commented on #307
Paddy wasn't a fan of that last time this was discussed, see https://github.com/ably/ably-java/issues/112#issuecomment-190923908 - "*That's possible but that same approach doesn't work when deserialising - we would have to pick something canonical to deserialise to, and the end result would not be the same as the original value.*"

[2017-02-17 15:10] mattheworiordan commented on #307
See https://github.com/ably/ably-dotnet/issues/92, a similar conversation in some was for .NET.  Customer wanting to use their own serialiser.  For typed languages, we may want to think about some options here, even if it's just a documented recommendation.

[2017-02-20 16:40] ousenko opened #309 "Crash inside a library"
With
`compile "io.ably:ably-java:0.8.4"`

I received this crash twice:

[code]

[2017-02-20 16:43] mattheworiordan commented on #309
Sorry to hear that @ousenko, I'll get one of the Java guys to take a look.

Are you able to provide any additional information in terms of your platform, what you think causes it, any other info that may help us debug the issue?

[2017-02-20 17:30] mattheworiordan commented on #309
Ok, we'll investigate.

[2017-02-22 19:34] mattheworiordan opened #310 "Fix HttpRequest & HttpRetry timeouts"
See https://github.com/ably/docs/pull/276

┆Issue is synchronized with this [Jira Task](https://ably.atlassian.net/browse/ECO-4244) by [Unito](https://www.unito.io)

[2017-02-24 00:48] mattheworiordan commented on #309
Hi @ousenko. We've not yet had time to focus on this I am afraid as we've all been flat out on a big upgrade due out tomorrow for the platform. We'll look at this soon after, sorry for the delay.

[2017-02-25 17:58] mattheworiordan opened #311 "Test instructions"
Following the test instructions at https://github.com/ably/ably-java/tree/0-9-master#tests does not work.

Firstly it should state run `./gradlew ...` instead of `gradle ...`

Secondly, when I do run the tests it doesn't work:

[code]

[2017-02-26 12:19] paddybyers commented on #311
The document has been updated to refer to `gradlew`: https://github.com/ably/ably-java/commit/ebb140ee072cdd12cfcd5a436aadeb396d6b24ab

The failure to run was a result of a bug in the interim build running on staging. The confusing error message is from JUnit, but if you run with `--info` you can see that the issue was a failure of the system to respond to the `/apps` post to create the test app.

[2017-02-26 12:19] #311 closed

[2017-03-01 15:45] shailu commented on #120
Hi,

I understand it's been a while since this issue had any activity. However, here is my experience regarding usage of proxy for websocket connections:
I found the following code snippet to work behind proxies: https://github.com/TooTallNate/Java-WebSocket/pull/205#issuecomment-145865275

I made a barebones test by including those changes in io.ably.lib.transport.WebSocketTransport.connect metho

[2017-03-01 18:48] mattheworiordan commented on #120
@shailu mind giving us a little background as to what you're doing and why proxy support is needed?

[2017-03-06 14:30] mattheworiordan opened #312 "0.9 release"
@paddybyers please can we release 0.9 to JCenter today?

[2017-03-08 02:54] mattheworiordan opened #313 "Missing generateRandomKey method from Crypo"
Noticed that the generateRandomKey method is missing from Crypo

[2017-03-08 04:04] mattheworiordan commented on #312
@paddybyers this now requires 1.0.0 release for Android & Java please

[2017-03-08 09:12] paddybyers commented on #313
Awaiting review/merge: https://github.com/ably/ably-java/pull/303

[2017-03-08 09:12] #313 closed

[2017-03-09 11:50] SimonWoolf commented on #306
Another customer reported this
their (mildly redacted) code: https://gist.github.com/SimonWoolf/0d98988cd9395d6ef5fbaf4b971d31ae
(mildly redacted) verbose logs: https://gist.github.com/SimonWoolf/bf7024814540d8c19b2590cfcec56650

The lib sends a CLOSE and receives a CLOSED, but the websocket seems to stay open until the 25s activity timeout; which is odd, as realtime definitely disconnects websock

[2017-03-09 12:26] mattheworiordan commented on #245
@paddybyers this is implemented no?

[2017-03-09 12:27] mattheworiordan commented on #244
@paddybyers this is implemented, can I close?

[2017-03-09 13:00] SimonWoolf opened #314 "Exceptions thrown in client onMessage callbacks are silently swallowed"
Customer complaining that ably-java [seems to silently swallow exceptions thrown in client onMessage callbacks without logging them](https://github.com/ably/ably-java/blob/40c223a07b7f28a9ae6dd4991c2fafc3775d5484/lib/src/main/java/io/ably/lib/realtime/Channel.java#L630).

[2017-03-09 13:19] SimonWoolf commented on #309
Hi @ousenko . I notice you're using 0.8.4; this is quite an old version, there have been several fixes (including to the message queue) since then. Would you mind upgrading to the latest version (1.0), and letting us know if you still have this issue?

[2017-03-09 13:55] emilm commented on #306
Yes it will remain open forever. And the WebSocketTransport will report no activity etc forever. Seems like that thread maintaining activity just keeps on living.

[2017-03-10 11:40] ousenko commented on #309
Hi @SimonWoolf sure I will surely try

[2017-03-15 10:52] ousenko opened #316 "Dependency management for ably-android"
Hi guys, this is not the first time I encounter issue with `ably-android` artifact dependency but I finally got my hands to report about this

Using your suggested approach of adding dependency into gradle buildscript like this:

[code]

does not work for me.

[code]

If I use `io.ably.ably-java:1.0.0` instead - works smooth.

Any reason for that? Could you reflect the changes actually needed to i

[2017-03-16 08:59] ousenko opened #317 "Regression in 1.0 ?"
Dear Ably staff,

[In this issue](https://github.com/ably/ably-java/issues/309#issuecomment-282169798) you suggested I update to 1.0

I did. And it broke everything :-)

My code for initializing ART is and was:

[code]

Commented are the lines that worked like charm  in 0.8.4 of lib. More - nothing worked if I didn't specify these hosts in 0.8.4 manually.

Now these lines useless, because in 1.0 `

[2017-03-16 09:22] paddybyers commented on #317
I'm looking now.

[2017-03-16 11:56] paddybyers commented on #317
The 1.0 spec includes a `ClientOptions.environment` field, which you should use if you want to override the default hosts. Pre-1.0 libraries all did something slightly different, and the behaviour you were relying on - that the `realtimeHost` and `restHost` would be pre-populated - was undocumented behaviour specific to the older version of the java library only.

So now you would just set

    op

[2017-03-16 12:05] paddybyers commented on #316
Apologies for that; the files were uploaded with the wrong path in the repository. It should be fixed now.

[2017-03-16 12:05] #316 closed

[2017-03-16 12:06] paddybyers commented on #309
If you are still able to reproduce this with 1.0 then we'll have a look.

[2017-03-16 12:23] ousenko commented on #309
I am not able to reproduce it even on 0.8.4

This is what our users randomly reproduce in production

It might take a few weeks before we know thing is stable

[2017-03-16 12:30] paddybyers commented on #309
OK, thanks, we do appreciate the feedback. I will continue to have a look and see if I can see a reason why that would happen.

[2017-03-16 12:35] #312 closed

[2017-03-16 15:12] mattheworiordan commented on #317
Please note that would actually be `options.environment = "MY_SECRET_APP"` as that would then result in the rest host changing to `MY_SECRET_APP-rest.ably.io` and realtime to `MY_SECRET_APP-realtime.ably.io`.  i.e. you don't need the trailing hyphen

[2017-03-16 15:20] ousenko commented on #317
@paddybyers @mattheworiordan right now I'm using explicit `MY_SECRET_APP-rest.ably.io` , seems to be working approach, too

[2017-03-16 16:24] mattheworiordan commented on #317
You mean as a host?  I would recommend you use `environment` to be honest, but explicitly setting the `restHost` and `realtimeHost` does work.

Mind if I ask what environment you are using?  You an email us at support@ably.io if you don't want to publish here.

[2017-03-17 06:16] ousenko commented on #317
Mailed

[2017-03-20 10:29] #314 closed

[2017-03-20 17:37] paddybyers commented on #306
I've added https://github.com/ably/ably-java/commit/6899a0240ef18a45edae3e2a3e46f29728c6f725 which eliminates the commonly-seen error message "No activity for 25000ms, closing connection", where the timer was left running even after the WsClient was closed.

I've also added https://github.com/ably/ably-java/commit/934b56282a1103d25f1aaf3ecbbf36129707b788 which has some tests to verify that the con

[2017-03-20 18:51] emilm commented on #306
Hello! All I did was:

`public void open() {
    ExecutorService executor = Executors.newSingleThreadExecutor();
    executor.submit(() -> {
        try {
            logger.info("Logging in with customer ID {}.", user.getCustomerId());
            logger.info("Connecting to ably.");
            ClientOptions options = new ClientOptions();
            options.logLevel = Log.NONE;
            optio

[2017-03-20 18:58] paddybyers commented on #306
and what context is `close()` called from? Is it a callback from the library, or the main thread, or a thread that your app created?

Also, is this on Android or JRE, and which version?

[2017-03-20 19:01] emilm commented on #306
JRE 1.8 It's opened and closed on the main thread. But the executor inside open() is actually connecting I suppose. So that's a different thread in on itself. But the main thread closes. But that might change.

[2017-03-20 19:10] paddybyers commented on #306
I tried to replicate that (ie open in a new thread, close in the main thread) in this test: https://github.com/ably/ably-java/blob/master/lib/src/test/java/io/ably/lib/test/realtime/ConnectionManagerTest.java#L294

but in this case the thread exits without any problem :(

[2017-03-20 19:13] paddybyers commented on #306
BTW have you retried with this change: https://github.com/ably/ably-java/commit/6899a0240ef18a45edae3e2a3e46f29728c6f725 ?

Before that fix, the dangling `Timer` thread could prevent the VM from exiting.

[2017-03-20 20:35] emilm commented on #306
I haven't tried any of it so far.  Is there a dev channel on bintray? Or do I have to compile and test myself?

[2017-03-20 23:10] paddybyers commented on #306
No, I haven't made a release with that fix yet. If you checkout the source you can build a fat jar with:

    ./gradlew java:fullJar

I will do a new release probably on Wednesday this week but it would be great if you are able to check it before then.

[2017-03-20 23:20] emilm commented on #306
Yes! That worked! Thank you!

[2017-03-20 23:26] paddybyers commented on #306
OK, great. I'm travelling tomorrow but I'll do a new release as soon as I get back.

[2017-03-29 10:24] SimonWoolf opened #319 "Race condition when lib is closed soon after being instantiated"
Race condition reported by a customer: when close() is called between the lib being instantiated and the CONNECTED message, the lib ends up connected rather than closed.

Log:
[code]

See https://github.com/ably/ably-js/blob/28f0d9fbc76ff65ecb632e0e8c5ebda458e527e2/common/lib/transport/connectionmanager.js#L472 for relevant logic from ably-js.

Marked as low priority as closing that soon after ope

[2017-04-02 21:58] emilm commented on #306
Are you back yet? I hope you can push out a new release soon, thanks!

[2017-04-02 23:54] mattheworiordan commented on #306
Hi @emilm.  I'll check in with @paddybyers in the morning to see if we can get this pushed out.  Sorry for the delay.

[2017-04-04 13:00] emilm commented on #306
Hello again... I hope this can be done today so I don't have to add a fat jar to the GIT source tree. :)

[2017-04-04 13:11] mattheworiordan commented on #306
Been promised it will happen today!  @paddybyers is unfortunately flat out on something else, but this is next in his list

[2017-04-06 07:00] mattheworiordan commented on #306
Hi @emilm. Apologies for the delay, we're just swamped with things right now and our previous maintainer is not around, so only @paddybyers is really able to do this.  We'll get this done as soon as he gets a chance to breath.

[2017-04-06 09:04] emilm commented on #306
I caved in and use the JAR file I compiled myself. But it would be nice to get it in this week or something!

[2017-04-06 09:32] ousenko commented on #319
@SimonWoolf In out app we connect to ably in onResume, disconnect in onPause. User might turn screen off/on a few times (we don't want to stay connected to ably when screen is off, actually). Would it this issue be possible, then?

[2017-04-06 09:32] #317 closed

[2017-04-06 09:35] ousenko opened #321 "ConcurrentModificationException in 1.0"
@SimonWoolf @paddybyers Hey guys, could these crashes be related to https://github.com/ably/ably-java/issues/319 ?

[code]

[code]

[2017-04-07 09:07] SimonWoolf commented on #319
@ousenko Yes, it's possible. As a workaround until this issue is fixed, you could do something like this (apologies for any invalid java syntax, I'm not a java dev):
[code]

[2017-04-24 09:19] SimonWoolf opened #322 "1.0 not automatically re-authing when token expires if initialized with key + clientId?"
See https://app.intercom.io/a/apps/ua39m1ld/respond/inbox/all/conversations/9411255623

[2017-04-24 14:09] mattheworiordan commented on #322
Also support ticket 1767

[2017-05-08 11:27] mattheworiordan opened #323 "Android push notification beta crash + API issue"
[Reported by customer Edgar](https://app.intercom.io/a/apps/ua39m1ld/respond/inbox/all/conversations/9472050594):

Also, reported a crash:

The app crashes and I get:
05-05 01:59:30.878 20620-20620/ee.app.conversamanager E/AndroidRuntime: FATAL EXCEPTION: main
Process: ee.app.conversamanager, PID: 20620
java.lang.NoClassDefFoundError: io.azam.ulidj.ULID
at io.ably.lib.rest.LocalDevice.load(LocalDe

[2017-05-24 04:53] itolisto commented on #323
Hi @mattheworiordan @tcard,

Any updates on this? Can I help with something?

[2017-05-24 08:30] mattheworiordan commented on #323
@itolisto sorry for not replying.  I will remind @tcard to look into this.

[2017-05-24 14:29] itolisto commented on #323
Thank you @mattheworiordan and @tcard.

[2017-05-24 16:28] tcard commented on #323
Hi @itolisto! I'm currently working on this. I'll get a solution out as soon as possible. Sorry for the delay!

[2017-05-25 16:48] emilm commented on #306
Would STILL be nice with using bintray instead of a local jar though ;)

[2017-05-25 17:04] mattheworiordan commented on #306
@emilm this came up in our stand up yesterday, I am really sorry, we've just been flat out. @tcard is now looking into this as a result. I promise we'll do everything we can to get a release out very soon.

[2017-05-26 13:47] paddybyers commented on #323
@tcard is it a `proguard.txt` issue? Any class that's loaded by name (eg with a `Class.forName()`) needs to be excluded from the name minimisation/obfuscation.

[2017-05-26 13:50] tcard commented on #323
@paddybyers They're loaded with plain imports, but even then I've tried a number of changes to proguard.txt and still doesn't work.

[2017-05-30 10:25] SimonWoolf opened #324 "1.0.0 sending v=0.9"
Noticed in the admin api, looks like ably-java 1.0.0 is still sending `v=0.9` - https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably/lib/transport/Defaults.java#L8

[2017-05-31 14:51] tcard commented on #323
@itolisto I've updated our push branch and the instructions at https://github.com/ably/ably-java/pull/308. Could you please try again with that?

[2017-06-01 01:26] itolisto commented on #323
@tcard I'm following the build instructions properly but I'm getting an error.

**Here's the stack trace:**

org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':android:compileDebugJavaWithJavac'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:69)
        at org.gradle.api.internal.tasks.execution.Ex

[2017-06-01 11:43] tcard commented on #323
@itolisto Sorry, that should be fixed now too. I committed some code that I shouldn't have! And I didn't catch the compilation error myself since I do have the missing files outside of the commit.

[2017-06-01 18:31] mattheworiordan opened #325 "1.0 Maven dependency issue"
This from a customer, ticket 1900.

Trying to use maven as follows fails.

"The POM for io.ably:ably-java:jar:1.0.0 is invalid, transitive dependencies (if any) will not be available, enable debug logging for more details"

[code]

If you change it to a prior version it works fine.

[code]

[2017-06-02 05:17] itolisto commented on #323
@tcard No worries, I'll try it right away! I'll let you know the result in a few minutes

[2017-06-02 05:59] itolisto commented on #323
@tcard Everything is compiling without problem but I'm still not able to get the 'push' variable when I get a channel. Look at the image

![current](https://cloud.githubusercontent.com/assets/11670462/26712815/4804779a-4726-11e7-8c82-0e18e3543081.png)

[2017-06-02 06:41] itolisto commented on #323
@tcard It's now compiling without problem but I'm still not able to see the 'push' parameter. Take a look:

![current](https://cloud.githubusercontent.com/assets/11670462/26713174/6df5d564-4728-11e7-97e1-fac9350cb09b.png)

And this is how my build.gradle file looks like:

![current2](https://cloud.githubusercontent.com/assets/11670462/26713463/0b744504-472a-11e7-8448-f37a33c14e39.png)

Am I doing

[2017-06-02 10:37] mattheworiordan commented on #325
FYI, customer reported that:

So this issue is resolved with a maven cache clear.

[2017-06-02 10:37] #325 closed

[2017-06-06 21:06] itolisto commented on #323
Hi @tcard, can I help you with something to fix this? Am I doing something wrong? Thank you for your support.

[2017-06-06 21:54] tcard commented on #323
Sorry @itolisto, I'm just pretty busy at the moment so I haven't had a chance to look into this. I will first thing tomorrow.

[2017-06-07 00:03] itolisto commented on #323
Don't worry @tcard in any case I don't mean to be annoying, sorry if I am, I imagine you are pretty busy.

[2017-06-07 16:13] tcard commented on #323
@itolisto Sorry again for the delay. We were exposing the `push` in REST channels, but not in realtime channels. That should be fixed now. Could you try again?

[2017-06-09 03:41] itolisto commented on #323
@tcard I can see `push` now, thank you. BTW I opened another issue related to push notifications, I would really appreciate your help.

[2017-06-09 03:58] itolisto opened #326 "Push activate is not broadcasting result"
After I call `activate` for push, the result is not being broadcasted and thus I can't subscribe clients. This is how my code looks like:

<img width="1075" alt="screen shot 2017-06-08 at 21 53 55" src="https://user-images.githubusercontent.com/11670462/26960525-4b53445c-4c95-11e7-8b20-fb6e9511fca3.png">

[2017-06-12 09:54] SimonWoolf opened #327 "Allow custom transportParams"
cf https://github.com/ably/docs/pull/299

reply to https://support.ably.io/helpdesk/tickets/1892 when done

[2017-06-16 10:32] SimonWoolf opened #328 "Allow authUrl to contain querystring params"
C.f. https://github.com/ably/docs/pull/301

ably-java currently strips out any queryString parameters in the authUrl, which customers have found confusing, e.g. https://support.ably.io/helpdesk/tickets/1901

[2017-06-21 10:45] mattheworiordan opened #330 "Tests failing because of "no output in the last 10m""
It seems the test suite is getting "stuck" and the test suite is failing to run in full.

I would have assumed each test would have a timer on it to prevent it becoming locked on one test.

Annoyingly, if you see the last three failing builds, none of them got stuck at the same point:

https://travis-ci.org/ably/ably-java/jobs/245301016
https://travis-ci.org/ably/ably-java/jobs/245301018
https://t

[2017-07-20 12:11] mattheworiordan opened #331 "authHeaders are being included in requests to non authUrl endpoints"
A customer has shown us in their logs that they are configuring an `authHeader` (a `Bearer` token) for use with `authUrl` requests to get a token.  It is correctly being used.

However, later when the client requests a token using the tokenRequest, it sends the same `Bearer` header incorrectly.

The authParams and authHeaders should only be used for `authUrl` requests.

[2017-07-25 18:28] liuzhen2008 opened #332 "Crash on Android with api level 18 and below"
My app installed on a android jelly bean phone would crash immediately on launch.

It looks like the ably SDK is using "StandardCharset" And it is only introduced in API level 19.
https://developer.android.com/reference/java/nio/charset/StandardCharsets.html

This is different from the doc saying it supports API 14.

[code]

[2017-07-25 20:00] mattheworiordan commented on #332
@liuzhen2008 thanks for reporting this and sorry for the inconvenience.

Fortunately this looks like the issue can be fixed quite trivially by replacing:

[code]

with:

[code]

Reference https://stackoverflow.com/questions/32102166/standardcharsets-utf-8-on-lower-api-lower-than-19

We'll see if we can get a fix out for it ASAP, unless you want to do a PR perhaps to fix it before one of our engine

[2017-07-25 20:53] liuzhen2008 commented on #332
https://github.com/ably/ably-java/pull/333

[2017-07-26 14:31] liuzhen2008 commented on #332
@mattheworiordan Do you know what I can do so that I can include my own fork in my current project?

I tried to simply include this line
`compile 'com.github.liuzhen2008:ably-android:v1.0.1'
`
into my dependencies, but it looks like it is not as simple as that.
(I got this error instead)
[code]
Do you have any idea how I can include the fix quickly?

[2017-07-26 21:58] mattheworiordan opened #334 "UTF-8 / ASCII detection issue in compile"
We are seeing this in the builds in Jenkins:

[code]

[2017-07-26 22:16] mattheworiordan opened #335 "Gradle version should be upgraded"
If using a version older than `2.14`, the builds do not work.

See https://gist.github.com/mattheworiordan/28fe6da37af0bfb997cb015ff4561e38 for the log. We should consider an upgrade to the latest version.

[2017-07-26 22:18] mattheworiordan commented on #330
@paddybyers it would be good if we could find a plugin / attribute of Gradle that enforces a max time per test.

[2017-07-26 22:19] paddybyers commented on #334
See https://discuss.gradle.org/t/unmappable-character-for-encoding-ascii-when-building-a-utf-8-project/10692/10

[2017-07-28 17:15] paddybyers commented on #334
By far the simplest fix is just to remove the two instances of non-ASCII characters in the comments: https://github.com/ably/ably-java/commit/3bfdf99958ce6a1a90358ef52016380d95d4c8be

[2017-07-28 17:15] #334 closed

[2017-07-31 13:43] liuzhen2008 commented on #332
@mattheworiordan I see the PR has been merged. How do I include the latest master build?

[2017-07-31 13:48] paddybyers commented on #332
I'll be doing a release shortly. Unfortunately for Android we don't have a build option to build a full jar from source so it's not easy for you to run the latest version until we make a release.

[2017-08-08 17:09] paddybyers commented on #330
Timeout have been added to tests so all tests will fail with a timeout error if they do not complete in a set time: https://github.com/ably/ably-java/commit/cbb9a69559f321ff38f1eb3ac8211d1c19a6e69a

[2017-08-08 17:09] paddybyers commented on #324
Fixed by https://github.com/ably/ably-java/commit/4e4a52f4c589e2471addbae39bcd6d054fb7fc37

[2017-08-08 17:09] #324 closed

[2017-08-09 00:10] paddybyers commented on #82
This is resolved.

[2017-08-09 00:10] #82 closed

[2017-08-09 11:09] #322 closed

[2017-08-11 17:22] #328 closed

[2017-08-11 20:45] paddybyers commented on #321
This looks like there is a listener for a channel state change event (eg detached, suspended) which is removing the channel. The `ConcurrentModificationException` occurs because the removal is made during the iteration of all channels.

There is an experimental fix for this here: https://github.com/ably/ably-java/tree/synchronised-channels. This simply makes all of the iterations synchronized, whi

[2017-08-11 21:24] #327 closed

[2017-08-11 22:48] paddybyers commented on #332
This is now released as https://bintray.com/ably-io/ably/ably-android/1.0.1

[2017-08-11 22:48] #332 closed

[2017-08-11 22:49] paddybyers commented on #306
This is released in 1.0.1 (https://bintray.com/ably-io/ably/ably-java/1.0.1, https://bintray.com/ably-io/ably/ably-android/1.0.1)

[2017-08-11 22:49] #306 closed

[2017-08-11 22:52] paddybyers commented on #217
This is resolved in 1.0.1

[2017-08-11 22:52] #217 closed

[2017-08-11 22:53] paddybyers commented on #166
This is released in 1.0.1

[2017-08-11 22:53] #166 closed

[2017-08-11 23:06] paddybyers commented on #330
In (our internal) Jenkins CI, the CI runs are now completing with a small number of realtime failures. There are currently no tests timing out.

I will raise separate issues in respect of the test failures.

This issue can be closed once we see the tests runs complete on Travis

[2017-08-12 17:18] paddybyers commented on #27
These are implemented; closing

[2017-08-12 17:18] #27 closed

[2017-08-12 20:39] paddybyers commented on #247
This is since fixed; closing

[2017-08-12 20:39] #247 closed

[2017-08-12 20:40] paddybyers commented on #244
Closing

[2017-08-12 20:40] #244 closed

[2017-08-12 20:48] paddybyers commented on #25
Closing; this was implemented in https://github.com/ably/ably-java/pull/340

[2017-08-12 20:48] #25 closed

[2017-08-12 20:49] paddybyers commented on #20
This is implemented; closing

[2017-08-12 20:49] #20 closed

[2017-08-12 20:56] paddybyers commented on #265
This is implemented; closing

[2017-08-12 20:56] #265 closed

[2017-08-12 21:01] paddybyers commented on #278
This is all implemented to spec now; closing

[2017-08-12 21:01] #278 closed

[2017-08-13 01:19] #305 closed

[2017-08-13 01:21] #319 closed

[2017-08-13 01:23] #309 closed

[2017-08-25 10:59] #326 closed

[2017-08-25 11:00] #323 closed

[2017-08-25 11:03] tcard opened #346 "Full test coverage of push functionality before GA release"

[2017-09-06 22:14] mattheworiordan opened #348 "Question: Should the Logger be static"
See https://github.com/ably/ably-dotnet/pull/127#issuecomment-327613915

Is it perhaps idiomatic to have a shared static logger between all instances of a library?  It seems odd that you could set the log level in one instance of a client and affect the log level in another.

[2017-09-06 23:20] paddybyers commented on #348
It could be changed to be per-instance but that would mean that lots of classes that currently have log calls (eg `Message`, `ProtocolMessage` etc) would either have to have a reference to the `AblyRealtime` instance, or its `Log` instance, or many methods on those classes would have to have a `Log` passed in as an argument. They're both a bit nasty (ie a `Message` type should be able to be just t

[2017-09-06 23:34] tcard commented on #348
Alternatively, methods on `Message` and friends could be moved to the classes acting on them (ie. `AblyRest/Realtime` and its auxiliary classes, so that they're left just holding the data as POJOs. That's how it is in iOS.

[2017-09-06 23:36] paddybyers commented on #348
Yes, true, we could have `Channel.decodeMessage()` instead of `Message.decode()`. But I do feel that the transformation that that performs - ie changing the `data` based on `encoding` etc - isn't anything to do with a `Channel` and really is `Message` functionality.

[2017-09-12 05:44] MathikumarC commented on #120
Team,

 Is proxy support added for java lib?

Thanks

[2017-09-12 07:16] paddybyers commented on #120
Proxy support is very limited at the moment: proxies are supported for REST operations only, and only using basic proxy authentication (not digest).

Of course we would like to support proxies fully but to go beyond what's currently supported didn't appear to be straightforward at the time, but if there is sufficient interest we could look again at it.

[2017-09-12 08:31] paddybyers commented on #120
From memory the issues were:

- the `HttpURLConnection` primitive we use for HTTP doesn't support the `CONNECT` tunnelling protocol without using a JVM-wide configuration (ie it's not supported on a per-connection basis);

- most proxies don't support websockets so without `CONNECT` tunnelling it's not possible to support them, and the library doesn't support the comet fallback transport;

- there

[2017-09-13 05:59] thedavidmeister opened #349 "TokenRequest.asJson should omit TTL if default"
If I call `createTokenRequest` with no additional parameters in Java and JS I get different results.

To compare the two directly I'm using `.asJson` on the Java `TokenRequest`.

The Java version has a key `ttl` that JS does not have.

The JS version has a key `capability` that Java does not have.

[2017-09-13 07:01] paddybyers commented on #349
Well spotted :)

The spec for this is here: https://docs.ably.io/client-lib-development-guide/features/#RSA9

I think both `ttl` and `capability` should be omitted if no non-default values are specified by the caller, so both are wrong :)

[2017-09-13 07:02] paddybyers commented on #349
@SimonWoolf wdyt?

[2017-09-13 07:33] thedavidmeister commented on #349
yes i ended up needing to make them both optional, with a spec like this (clojure/clojurescript):

[code]

[2017-09-13 07:34] thedavidmeister commented on #349
FYI `req-un` = required and `opt-un` = optional keys

[2017-09-13 12:28] SimonWoolf commented on #349
I agree, if not user-specified it should be omitted -- https://docs.ably.io/client-lib-development-guide/features/#RSA5 and https://docs.ably.io/client-lib-development-guide/features/#RSA6 are clear on this, see past discussion https://github.com/ably/docs/issues/245 and https://github.com/ably/docs/pull/246 .

[2017-09-13 13:13] SimonWoolf opened #350 "When using token auth with client-side signing, renewing a token is broken"
AFAICT from the log, the issue seems to be that it's sending an `authorization: bearer` header in the `/requestToken` request with the old token, which realtime then rejects for outdated auth.

E.g.
[code]

[2017-09-13 13:58] paddybyers commented on #350
It's normal for the library to attempt to include credentials in the token request if it has valid credentials; and if it has a token, but doesn't know that the token is expired, then it's expected that this request will be rejected in this way. The library should re-submit the request without the token header. Did you see whether or not this was happening?

[2017-09-13 14:15] mattheworiordan commented on #350
But it issued that token so should know.

It's reusing the same token bearer header each time so not handling the expired failure correctly and trying with a new token.

[2017-09-13 14:17] SimonWoolf commented on #350
No, it's not -- see eg full log [here](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/3031256570/original/token_expired.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJ2JSYZ7O3I4JO6DA%2F20170913%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20170913T140300Z&X-Amz-Expires=300&X-Amz-Signature=ee81de4989719a0d974e32842999447162b27461857000f1e56eeade1561531c&X-

[2017-09-13 14:29] paddybyers commented on #350
Yes, correct. In principle you can have an unsigned token request with basic auth, or a signed token request with no auth. I don't think any libs support the former.

[2017-09-20 12:52] paddybyers commented on #120
The latest status is that the proxy server for the unit tests has been re-enabled, and the tests have been re-enabled (https://github.com/ably/ably-java/commit/24a99bb3ccddf934cf1ded24231712b55a8f84fd).

The current functionality is:

- HTTP (ie non-TLS) via a proxy, both unauthenticated and using basic and digest auth (non-TLS) are now working;
- HTTPS via a proxy, unauthenticated, is working;
-

[2017-09-28 17:43] tcard opened #352 "Fix failing tests"
The following tests are consistently broken right now (master @ b3c886223f3b850793e856625b1d2b06166fc29a):

[code]

[2017-09-29 09:35] #349 closed

[2017-09-29 11:05] #350 closed

[2017-10-31 09:50] mattheworiordan commented on #352
@tcard what is the status on these tests?  If I recall, you were working on refactoring & test fixes.

[2017-11-02 09:46] tcard commented on #352
Same status.

[2017-11-02 09:48] #346 closed

[2017-11-02 09:53] tcard commented on #346
All done in https://github.com/ably/ably-java/pull/355.

[2017-11-07 12:24] mattheworiordan opened #357 "Malformed newness checks for presence should result in a failed connection"
See https://github.com/ably/ably-java/blob/159018c30b3ef813a9d3ca3c6bc82f51aacbbc68/lib/src/main/java/io/ably/lib/realtime/Presence.java#L901-L912 and https://github.com/ably/ably-dotnet/pull/157#discussion_r149350461

If we receive a presence message from Ably that is malformed, then the client can no longer guarantee integrity of that connection, but more specifically possibly just the channel.

[2017-11-10 16:14] SimonWoolf opened #358 "Implement connection state freshness check"
Spec PR: https://github.com/ably/docs/pull/331/files

This is quite high priority; see https://github.com/ably/realtime/issues/1289#issuecomment-341152556 for why, or ask me or Matt in #client-libraries on slack.

See https://github.com/ably/ably-js/blob/c55b4518d6f096e4bde90afcd04c5ba35d466f3c/common/lib/transport/connectionmanager.js#L702-L712 for example implementation

[2017-11-30 00:34] mattheworiordan opened #359 "Push release include problem"
After following the instructions for https://github.com/ably/ably-java/pull/308, a customer is reporting:

still not able to import "not able to import "AblyRegistrationIntentService" class"

I will ask for more info.

[2017-11-30 11:22] tcard commented on #359
The customer wasn't on the right branch.

[2017-11-30 11:22] #359 closed

[2018-02-15 11:27] funkyboy opened #363 "Document supported platforms"
In the README

[2018-02-15 11:29] funkyboy opened #364 "Add (or fix) CI tests on different platforms"
- Java
  - SDK7
  - SDK8

- Android
  - TBD

[2018-02-23 12:18] funkyboy opened #365 "Add crash reporter"
Like we have in iOS.

[2018-02-28 01:11] robholmes opened #366 "Received messages have no event names"
I've proved the message published contains an event name (using the Ably dev console), but in Android/Java `MessageListener` callback the name field is `null`. I believe this is because the string equality check is using "reference equality" `==` rather than "value equality" `String.equals()`.

Examples of this can be found:
- https://github.com/ably/ably-java/blob/master/lib/src/main/java/io/ably

[2018-02-28 02:07] mattheworiordan commented on #366
Thanks @robholmes for alerting us to this issue..  I will get one of the team to investigate tomorrow.

[2018-02-28 10:08] paddybyers commented on #366
I'll have a look at this.

I don't think it's quite as simple as you say, because the `fieldName`s in the lines you highlighted are `intern()`ed (eg https://github.com/ably/ably-java/blob/v1.1.0-beta.push.1/lib/src/main/java/io/ably/lib/types/Message.java#L103). So reference equality will work when comparing with a literal string.

[2018-02-28 10:53] robholmes commented on #366
@paddybyers I'm not sure that's true since using `fieldName == "name"` creates a new String of `"name"` and compares it with the object `fieldName`, by definition these are different objects. They may have the same value, but the only way to compare a String value is with `.equals()`.

[2018-02-28 10:58] paddybyers commented on #366
See https://docs.oracle.com/javase/8/docs/api/java/lang/String.html#intern--

[2018-02-28 11:01] robholmes commented on #366
It is true that I didn't know what the `.intern()` did until now, but I believe if you really want to use `==` for a string comparison, then I think you would need to `fieldName == "name".intern()` (assuming `fieldName` has already been intern'd). At least that's my understanding, as `"name"` would not come from the unique intern pool, it's simply a new object.

[2018-02-28 11:03] paddybyers commented on #366
Lets try to reproduce the issue and see what we find.

[2018-02-28 11:05] robholmes commented on #366
Ok thanks Paddy, happy to help where I can. I wasn't able to go as far as writing any tests for this, but I did prove through debugging that the `if (fieldName == "name") {` was never entered, and it always fell into `else {`.

[2018-02-28 11:10] paddybyers commented on #366
Ok, that's good information. @funkyboy here will try to reproduce it. There's something unusual about it so let's see.

[2018-02-28 11:15] funkyboy commented on #366
@robholmes I created a [sample Android project](https://github.com/funkyboy/AblyJavaTest).
See all the detailed steps in the README file.
I could not reproduce this.

Can you pull the repo and see if you can reproduce it in your setting? And also provide details about your setting? E.g. Java version, etc.

[2018-02-28 11:55] robholmes commented on #366
@funkyboy ok great, I'll give this a try as soon as I can and let you know

[2018-02-28 12:21] funkyboy commented on #366
@robholmes FYI I added you as a collaborator to [the repo](https://github.com/funkyboy/AblyJavaTest). Feel free to push your changes in a branch if needed.

[2018-02-28 15:40] robholmes commented on #366
@funkyboy I am currently at a loss to explain it, I cannot reproduce with the sample app, even when I add all our dependencies, gradle plugins, and target/compile versions, etc. I've added the breakpoints in the same place, but it just behave like it does in our app. I'm using curl also to rule out our message publishing code.

Right now I've hit the brick wall of not knowing what I can try next.

[2018-02-28 16:01] funkyboy commented on #366
@robholmes Thanks for the update. Let us know if there are new developments.

[2018-03-01 00:12] robholmes commented on #366
@funkyboy I have managed to reproduce the issue by cloning the ably-java project, building the AAR, and importing this into our project as a module.

My first step was to run the app with `master` branch as-is, and I saw the same problem of no event name due to the comparison. Second step was to implement my suggestion of `"name".equals(fieldName)`, which does correct the problem and then works as

[2018-03-01 00:23] paddybyers commented on #366
@robholmes thanks for this.

The reason for doing `.intern()` and `==` is that a given string is being compared with multiple other literal strings, and this happens multiple times per message, and that can happen a thousand times a second or more. So I really did want `==` instead of having to do a string comparison each time.

It's not supposed to be "safer" to use `.equals()` ; the language spe

[2018-03-01 00:33] paddybyers commented on #366
From java 1.7 / Android 19 you can do

`switch(fieldName) {
case "name":
  ...
}
`

I'd be inclined to go that route tbh - then the compiler and VM will determine the most efficient way to implement it.

We've had 1.7 source compatibility as a requirement in the library for a while anyway.

[2018-03-01 00:41] robholmes commented on #366
@paddybyers I completely understand the reasoning, which is another part of my hesitancy. My reasoning for stating `.equals()` is "safer", was due to it comparing the actual string contents rather than the object reference, but I agree that the `==` should work. I would like as much as you to understand this before taking any action.

Here's a snippet of our gradle config:
[code]

But I don't beli

[2018-03-01 00:44] paddybyers commented on #366
@robholmes sure.

You're seeing this running in the emulator or device or both?

I see we're already doing `switch(string) { ... }` in `BaseMessage`. And then we have a huge `if() ... else if() ...` in `ProtocolMessage`. So this needs tidying one way or the other.

[2018-03-01 00:56] robholmes commented on #366
@paddybyers after trying our app on the emulator (api 22 / 5.1) everything works as expected :+1:

so it is purely related to our app running on the Samsung tablet (why doesn't this surprise me)

[2018-03-01 00:57] paddybyers commented on #366
:( So I think that confirms it's a JVM bug.

Can you try https://github.com/ably/ably-java/pull/367 ?

[2018-03-01 01:15] robholmes commented on #366
@paddybyers #367 works perfectly :+1:

[2018-03-01 01:22] robholmes commented on #366
@paddybyers that's awesome, thank you so much for your help on this one, not a simple one to work out that's for sure! :smile:

[2018-03-01 01:31] robholmes commented on #366
as a sidenote, it was interesting to see the decompiled .class file for Message class with the changes in #367

![image](https://user-images.githubusercontent.com/206717/36822403-c58930c6-1cef-11e8-90d6-5f7234db2786.png)

I'm no expert but this looks frustratingly less efficient now (thanks Samsung and your broken JVM implementation) :roll_eyes:

[2018-03-01 01:51] paddybyers commented on #366
The `.hashCode()` will be roughly as expensive as the `.intern()`, and the `switch` statements are probably a decompiled `lookupswitch` bytecode construct which will generate pretty efficient native code. However it's still got the `.equals()` and I would be surprised if the VM's compiler can eliminate that.

So it's not going to be as good as just having a `.equals()` but probably not worse by a

[2018-03-01 02:07] paddybyers commented on #366
Of course the `.equals()` does map to a natively implemented method in the VM (https://android.googlesource.com/platform/libcore/+/a7752f4d22097346dd7849b92b9f36d0a0a7a8f3/libdvm/src/main/java/java/lang/String.java?autodive=0%2F%2F#750) so there's every chance that that would short-circuit to a reference equality check if both strings happened to be interned.

[2018-03-02 10:22] paddybyers opened #369 "android:assembleRelease is broken"
Since the gradle and Android tools version updates, the `android:assembleRelease` has the following issues:

- `pom.xml` is no longer generated;
- separate `-release` and `-debug` versions of the `.aar` are generated, but the apps depending on the library still look for the unqualified name.

These need addressing and any corresponding changes made to the notes on the release procedure in the READ

[2018-03-02 11:35] funkyboy commented on #364
[This is a good starting point](https://developer.android.com/about/dashboards/index.html) to have an idea of Android usage by version.

[2018-03-02 13:33] paddybyers commented on #364
We have a dependency in the library on Java 7 language features (in particular `switch(String)` which was supported from Android-19 (4.4, KitKat) onwards). This limitation has existed for a while and we've not had customers reporting this as an issue.

This means that for development you need to be using an Android-19 or later SDK version, but the specific language feature we use doesn't prevent t

[2018-03-13 15:34] #369 closed

[2018-03-16 09:04] funkyboy opened #373 "Run Android tests on more targets"
This is a spin off of https://github.com/ably/ably-java/issues/364

[2018-03-16 09:06] funkyboy commented on #364
After a bunch of adventures with Travis I have the tests running on:
- android-22
- java8
- openjdk7

Extending tests to other android targets (`android-25` and the like) might require switching to a different Travis image (now we are using [`android`](https://github.com/ably/ably-java/blob/develop/.travis.yml#L1)).
I propose to limit this issue to the three targets listed above.
I [opened an issu

[2018-03-16 09:25] paddybyers commented on #373
Specifically see https://github.com/ably/ably-java/issues/364#issuecomment-369921684

[2018-03-16 13:19] funkyboy commented on #335
This has been updated in https://github.com/ably/ably-java/commit/0a45ab1e855af65ab7545b4e3c58252af1413ca2
Closing.

[2018-03-16 13:19] #335 closed

[2018-03-16 13:29] paddybyers commented on #38
I agree, I think we can close this

[2018-03-16 13:29] #38 closed

[2018-03-16 17:24] #364 closed

[2018-03-16 17:41] funkyboy commented on #366
Fixed by #367

[2018-03-16 17:41] #366 closed

[2018-03-16 17:47] funkyboy commented on #352
Looking here: https://travis-ci.org/ably/ably-java/jobs/354416900
Only these fail now:
- `channelhistory_mixed_f`
- `presencehistory_mixed_fz

[2018-03-16 17:48] paddybyers commented on #352
I think these are realtime problems

[2018-03-16 17:51] funkyboy commented on #235
@SimonWoolf Seems fixed by https://github.com/ably/ably-java/pull/274. Correct?

[2018-03-16 18:22] funkyboy commented on #330
There seem to be no more timeouts now: https://travis-ci.org/ably/ably-java/builds/354437117
Closing.

[2018-03-16 18:22] #330 closed

[2018-03-16 18:28] funkyboy commented on #159
Superseded by https://github.com/ably/ably-java/issues/352

[2018-03-16 18:28] #159 closed

[2018-03-16 18:50] #235 closed

[2018-03-19 09:15] #139 closed

[2018-03-22 18:01] withakay opened #377 "codes in the wrong order?"
HTTP status code is last

https://github.com/ably/ably-java/blob/2af72fb88e0d5e0b47820c1c1cab6a2235f5df73/lib/src/main/java/io/ably/lib/rest/Auth.java#L587

all the other examples put the HTTP Status code first, e.g.
https://github.com/ably/ably-java/blob/2af72fb88e0d5e0b47820c1c1cab6a2235f5df73/lib/src/main/java/io/ably/lib/rest/Auth.java#L589

The `ErrorInfo` constructor looks like this
`public

[2018-03-23 14:11] funkyboy commented on #365
Note that an exception reporter is part of the draft 1.1 spec https://github.com/ably/docs/pull/258/files#diff-11900b395df266bc2bbfc1d11bdfc7a0R94

[2018-03-23 20:11] #377 closed

[2018-03-28 10:32] funkyboy opened #379 "Move Push.publish -> PushAdmin.publish"
Ongoing here https://github.com/ably/ably-java/commit/3ecb36f974205217a3d7708850754fd5e3649fb9?diff=split

[2018-04-06 09:31] #363 closed

[2018-04-06 14:16] SimonWoolf opened #381 "0.8 spec holdover -- "Unable to publish in detached, failed or suspended state""
https://github.com/ably/ably-java/blob/2af72fb88e0d5e0b47820c1c1cab6a2235f5df73/lib/src/main/java/io/ably/lib/realtime/Channel.java#L747-L751

This was correct for 0.8, and is still correct for `failed` or `suspended`, but in the 1.0 spec, publishing while `detached` should trigger an implicit attach (for 1.0 spec initial version) or just publish anyway (for spec as updated). https://docs.ably.io/

[2018-04-06 14:39] funkyboy opened #382 "Ensure correct feedback to developer when malformed key is supplied"
Now it's possible to write

`ably = new AblyRealtime("");`

The app starts and tries to connect. Then a timeout happens, because the key doesn't exists. ~~We should check if the key passed as a parameter is not empty and in the correct format.~~ This doesn't help user to solve the problem and doesn't show what the problem is.

┆Issue is synchronized with this [Jira Bug](https://ably.atlassian.net/

[2018-04-12 08:48] sajanlamsal opened #383 "Maven devpendency failed"
<dependency>
            <groupId>io.ably</groupId>
            <artifactId>ably-java</artifactId>
            <version>1.0.2</version>
            <type>pom</type>
        </dependency>

dependency not found.

[2018-04-12 08:50] paddybyers commented on #383
Can you give any more details of the problem? Is it the ably-java module that's not found, or one of its dependencies?

Which repositories are you using? We're on jcenter (https://bintray.com/ably-io/ably/ably-java/1.0.2).

[2018-04-12 08:52] funkyboy commented on #383
@sajanlamsal thanks for reporting this. Are you building a Java or Android project? Which IDE? Can you share some more details about the context in which this is happening?

Even a very simple project that reproduces this is fine.

[2018-04-12 08:58] sajanlamsal commented on #383
Hello, I am using IntelliJ and it is a java project (Maven).
[]([https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000686704-How-to-install-packages-from-JCenter-)
I found out that, JCenter is not supported for maven in IntelliJ.

[2018-04-12 09:34] paddybyers commented on #383
See https://youtrack.jetbrains.com/issue/IDEA-154970

Our testing in IntelliJ uses Gradle so I've not tested with maven. But isn't there a difference between setting up an IJ project with the internal build system (which doesn't support JCenter) vs setting it up as a maven project?

[2018-04-16 13:36] funkyboy opened #384 "Add test for JWT token"

[2018-06-07 11:41] SimonWoolf opened #394 "Update Stats fields with latest MessageTraffic types"
cf https://github.com/ably/docs/pull/443

[2018-06-14 14:14] #384 closed

[2018-06-21 16:53] SimonWoolf opened #397 "my-members presenceMap requirement change for 1.1"
See https://github.com/ably/docs/pull/446

[2018-06-22 11:09] SimonWoolf opened #398 ""Attempt to invoke virtual method 'int io.ably.lib.types.ProtocolMessage$Action.ordinal()' on a null object reference""
From [customer](https://app.intercom.io/a/apps/ua39m1ld/inbox/inbox/all/conversations/17110405694)
[code]
They say they are on 1.0.1, and would take them a while to upgrade to 1.0.3 to see if it still occurs on that. I've asked them to try anyway, but in the meantime filing this issue in case it's obvious if the issue either has or hasn't been fixed in 1.0.3.

[2018-06-22 11:16] tomczoink commented on #120
Note: When using the REST API to connect, the protocol is seen as `socket` when using `ProxySelector` rather than `HTTP`.

[2018-06-22 11:36] funkyboy commented on #383
@sajanlamsal Closing this. Feel free to reopen if it's still an issue.

[2018-06-22 11:36] #383 closed

[2018-06-25 10:10] SimonWoolf commented on #398
Customer says they can no longer reproduce on 1.0.3.

[2018-06-25 10:10] #398 closed

[2018-06-26 09:07] funkyboy opened #403 "Some flakiness in channelhistory_time_f test"
I set the test suite to temporary ignore it. See https://github.com/ably/ably-java/commit/cd89c8f405f27fb21f5669849200fd353d825a39

Failure happens usually on this line https://github.com/ably/ably-java/blob/66f639876fbbd43d020dd82e059fc7a33d22c4f3/lib/src/test/java/io/ably/lib/test/rest/RestChannelHistoryTest.java#L327 sometimes with text, sometimes with binary. Sometimes in java, and sometimes i

[2018-06-28 15:14] SimonWoolf commented on #382
Note that per https://docs.ably.io/client-lib-development-guide/features/#RSC1a , since `""` doesn't contain a colon, it should be interpreted as a token, which means there's no clientside format validation.

(I mean sure we could validate that the string isn't empty if we want, a valid token's never going to be the empty string. But shrug, not a big deal if we don't, and there certainly isn't any

[2018-06-28 15:23] paddybyers commented on #382
It is interpreted as a token. I don't see what the error is.

What's the timeout?

[2018-07-09 14:28] mattheworiordan opened #405 "Async HTTP thread pool issues"
The threadpool for the `asyncScheduler` has a maximum of 64 threads and it's a hard-coded number in the library.

Currently it doesn't look like there's a public way to modify that.
It would be useful to be able to configure that when the library is instanced

[2018-07-11 14:09] paddybyers commented on #405
There's no public API - we should add an API to configure the min/max threads and possibly also the cooldown period for idle threads.

However, there's a bigger issue which is that the threadpool isn't actually growing on demand as we expected. A customer has reported:

[code]

[2018-07-11 14:39] paddybyers commented on #405
The behaviour I propose is as follows:

- there is a configured maximum number of threads, which can be overridden via a client option;
- the threadpool is initially empty;
- as requests are made, threads are created, without waiting, to service the request;
- when the max number of threads is reached, further requests are queued;
- there is no limit to the number of requests that can be queued;
-

[2018-07-17 17:03] #405 closed

[2018-07-17 22:03] paddybyers commented on #358
Fixed by https://github.com/ably/ably-java/pull/390

[2018-07-17 22:03] #358 closed

[2018-07-17 22:06] paddybyers commented on #73
Resolved by https://github.com/ably/ably-java/pull/404

[2018-07-17 22:06] #73 closed

[2018-07-17 22:45] paddybyers commented on #405
This is released now in 1.0.5:

https://github.com/ably/ably-java/releases/tag/v1.0.5
https://bintray.com/ably-io/ably/ably-java/1.0.5
https://bintray.com/ably-io/ably/ably-android/1.0.5

[2018-07-24 12:23] SimonWoolf opened #410 "ably-java gets into a channel attach retry loop"
https://github.com/ably/ably-java/blob/develop/lib/src/main/java/io/ably/lib/realtime/Channel.java#L948-L952

ably-java reattaches on DETACHED even if connection state was `attaching`. This is a serious issue as if realtime deliberately refused the attach, you get into a busy loop that can start sending thousands of attaches per second. Correct behaviour is per RTL13 https://docs.ably.io/client-li

[2018-07-25 11:36] #410 closed

[2018-07-25 15:17] mattheworiordan opened #413 "Update idempotent REST according to spec"
See spec at https://github.com/ably/docs/pull/473

Ruby implementation at https://github.com/ably/ably-ruby/pull/165

Whilst this is technically 1.1 functionality, we can add this now so long as idempotent publishing is disabled by default.

[2018-08-03 08:15] paddybyers opened #415 "Add RTN20 support - react to operating system network connectivity events"
See https://docs.ably.io/client-lib-development-guide/features/#RTN20

[2018-08-03 08:55] harrywiner1 commented on #415
[] do setup run configuration run tests
[] run tests with command line
[] Write a test that fails without the feature then add the feature
[] Assertion based on the time taken to reconnect
[] Get library working
[] Limit network interfaces are available
[] Rather than wait for platform to broadcast event, broadcast event programmatically

[2018-08-10 19:34] mattheworiordan opened #416 "Ensure request method accepts UPDATE, PATCH & DELETE verbs"
This will be hard to test sadly without mocking or sending requests to a non-realtime server, but we should do our best to confirm request support these verbs.

See https://github.com/ably/docs/pull/493

[2018-08-16 21:34] paddybyers opened #418 "IllegalStateException scheduling transport activity timer"
I'm seeing a crash in AblyRealtime on Android. It looks like in WebSocketTransport, a timer is set that checks to see if the connection should be automatically closed. When the timer is canceled, the active implementation throws an IllegalStateException (Timer was canceled), which isn't handled and causes the app to crash. I'd like either support to help identifying how we can avoid canceling this

[2018-08-16 21:37] paddybyers commented on #418
Stack trace:

[code]

[2018-08-16 21:43] paddybyers commented on #418
I'm looking at this:

https://docs.oracle.com/javase/7/docs/api/java/util/Timer.html

[2018-08-16 22:31] #418 closed

[2018-08-30 09:23] SimonWoolf opened #420 "Add Message.fromEncoded & fromEncodedArray"
as defined in https://github.com/ably/docs/pull/182/files

┆Issue is synchronized with this [Jira Task](https://ably.atlassian.net/browse/ECO-4263) by [Unito](https://www.unito.io)

[2018-09-10 14:44] SimonWoolf opened #422 "Readme refers to a nonexistant gradlew.bat"
gradlew appears to just be copied from https://github.com/gradle/gradle/blob/master/gradlew, so presumably copying gradlew.bat from https://github.com/gradle/gradle/blob/master/gradlew.bat should just work, but I don't have a windows machine handy to test

[2018-09-24 09:40] gouravgupta72 opened #423 "Recover resume not working"
Folks,
In our client connection message recovery is not working, while the same thing is working for iOS.

Also what would be the value for recover? As it's type is String.

[2018-10-03 07:00] #423 closed

[2018-10-24 16:07] thoersch commented on #258
What's the status of this?

[2018-10-25 16:03] paddybyers opened #424 "EventEmitter: mutations of `listeners` within a listener callback shouldn't crash"
Currently the library does not comply with https://docs.ably.io/client-lib-development-guide/features/#RTE6a, and this can cause crashes or other unpredictable behaviour if an event listener removes itself or a different listener for the same event.

[2018-10-30 10:42] SimonWoolf commented on #258
At the time we investigated this, the only known workaround was to disable newrelic; see
https://support.ably.io/support/solutions/articles/3000061212-ably-java-java-io-ioexception-readbufferbytes-failed-exception-when-making-rest-requests . I don't believe we have tested this recently, so it's possible that more recent versions of the newrelic library have fixed the issue.

[2018-10-30 13:13] mattheworiordan commented on #258
@thoersch what version of NewRelic are you using when you see this issue?

[2018-10-30 13:23] thoersch commented on #258
We're not -- we're a prospect client only at this point and wanted to ensure this was not an issue anymore before proceeding further. We do use NR so it's important that it's not an issue anymore. We're also not the reporter of the issue so unsure what version they had.

We're using 3.44.1 though, if that helps.

[2018-10-30 13:37] mattheworiordan commented on #258
@thoersch given this has not been reported since Dec 2016, I very much doubt this is still an issue with NewRelic.  However, if you do encounter this issue, we will have to dive deeper and resolve the issue. I am very confident that if the issue still exists, a workaround could be found, even if that requires us discussing the issue with NewRelic and/or forking their library and seeing if we can g

[2018-10-30 13:38] mattheworiordan commented on #258
I would recommend testing it in your environment either way to see if the issue is present or not.  Given this was reported and not reproduced at the time, we have no way of knowing if this issue was necessarily caused solely by NewRelic.

[2018-10-30 16:08] azhawkes commented on #381
We're experiencing this bug intermittently with 1.0.7. When trying to publish we occasionally get:

`java.lang.Exception: Unable to publish in detached, failed or suspended state`

I've put in a workaround like this to see if it helps:

[code]

I suspect the problem is occurring because we have a reaper job that releases idle Ably channels after they've been inactive for a while. If someone tries

[2018-10-31 10:52] paddybyers opened #425 "Exception when failing to decode a message with unexpected payload type"
The reported error is:

[code]

The likely problem is that a message is being received with an `encoding` ending in `utf-8`, which implies that the `data` field is a `byte[]`, but the error message tells us it in fact is a `String`. Strictly, that's a malformed message, but the library should handle it gracefully by returning the unchanged `data`.

[2018-11-01 01:48] paddybyers commented on #258
I've tested against a recent version of NewRelic on Android, and both websocket connections and HTTP requests seem to work without any issues.

It set up the NewRelic integration with:

    classpath 'com.newrelic.agent.android:agent-gradle-plugin:5.+'

in `buildscript.dependencies` and

        implementation 'com.newrelic.agent.android:android-agent:5.+'

in the app dependencies.

In my code I w

[2018-11-01 01:58] paddybyers commented on #258
@thoersch I'm not seeing that version in https://docs.newrelic.com/docs/release-notes/mobile-release-notes/android-release-notes

[2018-11-02 15:46] paddybyers opened #427 "Error in release mode due to missing proguard exclusion"
The reported error:

[code]

[2018-11-03 00:00] #416 closed

[2018-11-03 00:00] #425 closed

[2018-11-03 00:01] #427 closed

[2018-11-05 12:36] jemshit opened #429 "Failed to resolve: io.ably:ably-android:1.0.8"
`1.0.7` is resolved but `1.0.8` is not. Jcenter exists in gradle file.

[2018-11-05 13:14] paddybyers commented on #429
Hi, sorry, it looks like the files were uploaded to the wrong repository path in jcenter. Please try again.

[2018-11-06 09:52] SimonWoolf opened #430 "WebsocketNotConnectedException on send"
Customer getting `WebsocketNotConnectedException` on send. Not sure what guarantees java gives, but if there's any possibility that `onClose` isn't called synchronously with the websocket closing, then that exception should be caught and treated as an abnormal close (it should call `onClose` itself and finish the transport with REASON_DISCONNECTED).

cf https://github.com/ably/ably-js/issues/397

[2018-11-07 07:00] #429 closed

[2018-11-14 02:36] mattheworiordan opened #431 "Add support for remembered REST fallback host"
See https://github.com/ably/docs/pull/554

We need to add this functionality to all client libraries, but prioritise the server-side ones given they are more affected if a single DC is offline and they are publishing at a high rate.

[2018-11-26 20:08] mattheworiordan opened #438 "Idempotent publishing is not enabled in the upcoming 1.1 release"
See https://github.com/ably/docs/pull/568

We must ensure that that idempotent is not yet enabled by default and requires the user to explicitly enable.

Related to #413

[2018-11-26 22:33] paddybyers commented on #438
This is done: https://github.com/ably/ably-java/blob/b0d68c674302950ddca9548e84f87a75f213c2f5/lib/src/main/java/io/ably/lib/types/ClientOptions.java#L131

[2018-11-26 22:33] #438 closed

[2018-12-13 00:18] #424 closed

[2018-12-13 00:18] #431 closed

[2018-12-13 00:18] #413 closed

[2018-12-13 00:33] paddybyers commented on #352
Tests are passing consistently now

[2018-12-13 00:33] #352 closed

[2018-12-14 06:07] paddybyers commented on #422
This is resolved in 1.1.0-RC1

[2018-12-14 06:07] #422 closed

[2018-12-14 06:09] paddybyers commented on #183
This is reenabled and no longer seems to be an issue.

[2018-12-14 06:09] #183 closed

[2018-12-21 19:39] paddybyers opened #447 "Exceptions when attempting to send with null WsClient"
Reported on 1.0.8:

[code]

[2019-01-02 12:00] paddybyers opened #448 "Realtime Channel: exceptions thrown when attempting attach do not result in the client listener being called"
(i) if the `attachImpl` throws an exception (https://github.com/ably/ably-java/blob/release-1.0.9/lib/src/main/java/io/ably/lib/realtime/Channel.java#L311) it will set the `attachTimer` to null;

(ii) if the `attachTimer` is null, it will return without calling the listener https://github.com/ably/ably-java/blob/release-1.0.9/lib/src/main/java/io/ably/lib/realtime/Channel.java#L314

[2019-01-08 01:06] #448 closed

[2019-01-08 01:20] paddybyers opened #452 "InternalError when attempting to create a reattach timer"
The reported exception stack trace is:

[code]

This seems to occur if there is an attempt to create any thread after the runtime has entered the shutdown sequence (see https://stackoverflow.com/a/46846125). Although in principle we could check the runtime state before scheduling a timer, there's no guarantee that that check would remain a reliable check across Android versions, so it looks like t

[2019-01-10 18:31] paddybyers opened #455 "Review contents of log messages at varying log levels"
There's a request to be able to get detailed logs, but excluding actual message payloads. Currently, `VERBOSE` logs contain a lot of detail necessary for debugging, but also message payloads.

[2019-01-17 10:55] #452 closed

[2019-01-17 10:56] #321 closed

[2019-02-05 12:40] SimonWoolf opened #457 "Error codes"
@withakay points out that ably-java uses 91200 for channel attach timed out, which isn't in errors.json. Ably-js uses 90007 ("channel operation failed (no response from server)") for that

[2019-02-17 14:26] mattheworiordan opened #459 "Possible Realtime and REST authCallback race condition"
A customer is reporting that they are doing the following:

- client gets tokenRequest object from server
- client uses it to get token from Ably
- client calls history of channel
- error 40105

They are using Android 1.0.11.

I noticed that they call to `authCallback` returns the same JSON token request on subsequent calls which is the underlying cause of the problem. However, this does still ind

[2019-02-17 14:56] mattheworiordan commented on #459
This issue previously existed in JS, see https://github.com/ably/ably-js/pull/567.

We should consider adding a spec item to address concurrent in-flight auth requests.

[2019-02-18 23:05] mattheworiordan commented on #459
Closing this issue as it should be addressed by the spec, not this client lib specifically.  In addition, it's not a bug, it's a possible optimisation. See https://github.com/ably/docs/issues/623

[2019-02-18 23:05] #459 closed

[2019-02-21 08:40] SimonWoolf commented on #397
@amsurana Just want to check in on the status of this? Bit worried that this issue seems to be left open after the 1.1 release -- as noted in the linked docs pr, the server assumes that any client library that sends `v=1.1` implements the local presence map up to spec

[2019-02-21 10:09] amsurana commented on #397
@SimonWoolf
No, This feature is not implemented yet. I will look at it soon.

[2019-02-21 10:14] amsurana commented on #397
@SimonWoolf
I will check this and confirm here.

[2019-02-21 18:17] mattheworiordan opened #460 "java.lang.NoClassDefFoundError: org/msgpack/value/Value"
Customer reporting an issue following an upgrade to 1.1.

[code]

[2019-02-21 21:14] paddybyers commented on #460
This is resolved by https://github.com/ably/ably-java/commit/7284a0478eace6206f5f3b2a50c556a56cfacff2

[2019-02-21 21:14] #460 closed

[2019-02-22 17:18] amsurana commented on #397
@SimonWoolf
I will check this and confirm here.

[2019-02-25 22:54] mattheworiordan opened #462 "Improve handling of clock skew"
See `RSA4b1` as part of 1.2 spec changes in https://github.com/ably/docs/pull/622/files

Given this impacts users now with significant clock skew, we aim to release a fix for this now.

[2019-03-04 22:13] SimonWoolf opened #464 "Hide channels hashmap methods"
A customer had been calling `channels.clear()` in an on-auth-updated listener, for reasons that remain unclear. Predictably this caused problems.

Might be a good idea to hide the actual hashmap away in a private member, remove the temptation of the forbidden fruit of HashMap methods being dangled in front of the user by their IDE's autocomplete

[2019-03-21 21:35] mattheworiordan opened #467 "Presence blocking get sometimes has missing members"
From customer (see ticket https://support.ably.io/a/tickets/97899)

[2019-04-04 21:32] #462 closed

[2019-04-10 07:27] paddybyers opened #468 "ConcurrentModificationException in 1.1 when running multiple library instances"
From customer:

[code]

[2019-04-10 21:25] #468 closed

[2019-04-23 23:08] paddybyers opened #470 "Expired token never renewed"
A customer error report:

TL;DR I’ve noticed a pretty significant bug in the ably-java sdk.  I’ve built in a work around, but essentially if you have something like this line in the Auth class of your sdk you may be at risk.
https://github.com/ably/ably-java/blob/develop/lib/src/main/java/io/ably/lib/rest/Auth.java#L969

bottom line is that the token is always considered valid if the `timeDelta` h

[2019-04-30 11:58] paddybyers opened #472 "Deadlock when closing library"
This is a customer problem report:

[code]

On the face of it, something is holding the `ConnectionManager` lock long-term. We don't know if this is somehow connected with the lifecycle event or not.

┆Issue is synchronized with this [Jira Task](https://ably.atlassian.net/browse/ECO-4271) by [Unito](https://www.unito.io)

[2019-05-09 20:50] SimonWoolf opened #473 "Using a clientId should no longer be forcing token auth in the 1.1 spec"
cf https://github.com/ably/docs/pull/345

┆Issue is synchronized with this [Jira Bug](https://ably.atlassian.net/browse/SDK-429) by [Unito](https://www.unito.io)

[2019-05-23 14:56] SimonWoolf opened #474 "Lib is not re-sending pending messages on new transport after a resume"
Log posted by a customer [here](https://ably-real-time.slack.com/archives/C030C5YLY/p1558623828295800) (cf [conversation](https://app.intercom.io/a/apps/ua39m1ld/inbox/inbox/all/conversations/22156922233)) shows several issues:

1. At one point it disconnects the transport for inactivity at 14:29:08.086Z, 16s after getting a detached from realtime at 14:28:52.151. That shouldn't happen.
1. After i

[2019-06-06 18:17] paddybyers opened #475 "Stop using deprecated FirebaseInstanceIdService"
This is, or is about to be, removed, and uses of `onTokenRefresh` should be replaced by overriding `onNewToken` in `FirebaseMessagingService`

[2019-06-06 18:21] paddybyers commented on #470
Note that https://github.com/ably/ably-java/pull/471 needs to be applied also to `develop`.

[2019-06-10 11:51] paddybyers opened #476 "Document that listeners should not block in message or channel/connectionstate listeners"
Listeners are called by specific threads in the library - eg the `ConnectionManager` thread or the `WSClient` reader thread - and these can't be blocked. The documentation should make this clear.

[2019-06-12 08:01] cesartl commented on #476
Ideally, this would be explained in both online documentation and the Javadoc on the subscribe method.

[2019-06-12 23:20] paddybyers commented on #447
Closing; this doesn't seem to appear on recent releases.

[2019-06-12 23:20] #447 closed

[2019-06-12 23:23] paddybyers opened #477 "PUSH_ACTIVATE intent broadcast is not always sent when activating push"
Without this, there is no way to know when to perform operations, such as push subscriptions, when those operations depend on activation having completed.